@import "../theme.styl"

.popupNavBar
	position         : absolute
	top              : 0px
	left             : 0px
	right            : 0px
	height           : 30px
	background-color : #CAE9C9
	border-top       : 1px solid #bbbbbb
	border-radius    : 0px
	padding          : 0px
	margin           : 0px

	.navbar-btn
		margin: 2px

	.container-fluid
		padding: 2px
		background-color: #f1f1f1

.PopupWindow .outer-container
    padding-top: 0px

.PopupWindow table
	width: 100%

.PopupWindow
	themePopupWindow()

	top:              0px
	left:             0px
	width:            300px
	z-index:          5000
	cursor:           arrow
	opacity: 		  1.0
	min-width 		  300px

	.title
		themePopupWindowTitle()

		width            : 100%
		cursor           : move

		.title_text
			padding-left: 8px

		.closebutton
			float      : right
			cursor     : pointer
			width      : 40px
			text-align : right
			padding-right: 8px
			
	&.popup-win-inactive
		.title
			background-color: #c1c1c1

	.windowbody

		padding-left:   6px
		padding-right:  6px
		padding-top:    4px
		padding-bottom: 4px

.scrollable

	position:         absolute
	z-index:          3
	top: 			  0
	left:			  0
	// height:           100%
	overflow:         hidden
	width:            100%
	right:            0px
	min-width         300px

	.resizeHandle
		background: url(/images/resize-handle.png) 100% 100% no-repeat
		position: absolute
		right:0
		bottom:0
		height:16px
		width:16px
		cursor: se-resize
		z-index: 9999999999

.scrollcontent
	position                    : absolute
	z-index                     : 1
	-webkit-tap-highlight-color : rgba(0,0,0,0);
	width                       : 100%;
	-webkit-transform           : translateZ(0);
	-moz-transform              : translateZ(0);
	-ms-transform               : translateZ(0);
	-o-transform                : translateZ(0);
	transform                   : translateZ(0);
	-webkit-touch-callout       : none;
	-webkit-user-select         : none;
	-moz-user-select            : none;
	-ms-user-select             : none;
	user-select                 : none;
	-webkit-text-size-adjust    : none;
	-moz-text-size-adjust       : none;
	-ms-text-size-adjust        : none;
	-o-text-size-adjust         : none;
	text-size-adjust            : none;
