.ninja-fullcalendar-holder
    width:  100%
    height: 100%
    overflow: auto

.floatingWindow.calendarTooltip
    width:            auto !important
    height:           auto !important
    max-width:        800px
    overflow:         auto
    padding:          20px 10px
    line-height:      24px
    background-color: #fcf8e3
    border:           1px solid #bbb
    border-radius:    10px
    box-shadow:       8px 8px 8px rgba(0, 0, 0, 0.5)
    
    .calendarTooltipBody
        table
            tr
                td
                    padding: 0px 5px
