.data
    cursor      : default
    padding     : 4px
    font-family : arial
    font-weight : 300

.data.dt_decimal
    text-align: right

.data.dt_int
    text-align: right

.data.dt_money
    text-align: right

.dataChanged
    color       : #ff0000 !important
    font-weight : 500

.editable
    cursor: text !important

.editable:hover
    border: 1px solid #00bb00

@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

// font-family: 'Ubuntu Mono', monospace;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

span#ruler
    visibility: hidden
    white-space: nowrap
    font-size : 12px

.tableview:before
    content  : ""
    position : absolute

.tableviewSimpleWrapper
    overflow: auto

.statusbar
    background-color : #EEECE9
    border-top       : 1px solid #909090
    color            : #303030
    font-size        : 12px
    padding          : 0
    margin           : 0
    position         : absolute
    left             : 0px
    right            : 0px
    bottom           : 0px
    height           : 26px
    overflow         : hidden;
    padding-left     : 4px
    padding-top: 2px

    .valueHigher
        text-decoration: underline
        color: blue

    .valueLower
        text-decoration: underline
        color: red

    .scrollStatusText
        overflow         : hidden
        height           : 24px
        margin-right     : 250px
        line-height      : 22px

    .scrollTextCols
        background-color : #EEECE9
        padding-left     : 6px
        padding-top      : 2px
        padding-right    : 6px
        position         : absolute
        right            : 0
        top              : 0
        width            : 150px
        line-height      : 22px
        border-left      : 1px solid #bbbbbb

    .scrollTextRows
        background-color : #EEECE9
        padding-left     : 6px
        padding-top      : 2px
        padding-right    : 6px
        position         : absolute
        right            : 150px
        top              : 0
        width            : 150px
        line-height      : 22px
        border-left      : 1px solid #bbbbbb

    .statusActionsCopy
        line-height      : 22px
        background-color : #EEECE9
        padding-left     : 6px
        padding-top      : 2px
        padding-right    : 6px
        position         : absolute
        right            : 300px
        top              : 0
        width            : 90px
        font-size        : 14px
        font-family: 'Roboto Condensed', sans-serif;
        border-left      : 1px solid #bbbbbb

.tableview
    width: 100%
    border-inside: 1px solid #909090
    white-space: nowrap;
    table-layout: fixed;
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

    div.text-right
        padding-right: 6px        

    .header
        border: 1px solid blue

    .groupRow
        background-color: #101040
        color: white

    .groupRowChart1
        background-color: #4573A7
        color: white

    .groupRowChart2
        background-color: #AA4644
        color: white

    .groupRowChart3
        background-color: #71588F
        color: white

    .groupRowChart4
        background-color: #89A54E
        color: white

    .groupRowChart5
        background-color: #4298AF
        color: white

    .groupRowChart6
        background-color: #D09392
        color: white

    .groupRowChart7
        background-color: #D60006
        color: white

    .groupRowChart8
        background-color: #4573A7
        color: white

    .groupRowChart9
        background-color: #AA4644
        color: white

    .groupRowChart10
        background-color: #71588F
        color: white

    .groupRowChart11
        background-color: #89A54E
        color: white

    .groupRowChart12
        background-color: #4298AF
        color: white

    .groupRowChart13
        background-color: #D09392
        color: white

    .groupRowChart14
        background-color: #D60006
        color: white

    div.cellfocus
        border:1px solid #4040CC !important
        background-color: rgba(0,0,250,0.2)

    div
        position:       absolute
        display:        block
        font-family:    'Ubuntu', sans-serif;
        color:          black
        font-weight:    300
        font-size:      12px
        padding-top:    0px
        padding-bottom: 0px
        padding-left:   4px
        padding-right:  4px
        line-height:    22px
        overflow:       hidden
        background:     #ffffff

    div.spacer.dragging
        background-color: blue
        border: 1px solid blue

    div.spacer
        border-right     : 1px solid #dddddd
        cursor           : ew-resize
        background-color : #fafafa
        // background-image : linear-gradient(to bottom, #ffffff, #f2f2f2);
        margin           : 0
        padding          : 0
        
        &.last_data
            border-right: none

    div.spacer:hover
        background-color: #007F4A

    div.tableHeaderField
        background-color : #fafafa
        // background-image : linear-gradient(to bottom, #ffffff, #f2f2f2);
        font-size        : 12px
        font-weight      : 400px
        line-height      : 20px
        padding-top      : 4px
        cursor           : pointer

        &.tableActionHeaderField
            background-color: #eaeaea
            border-right    : 1px solid #ddd

            &.first-action
                border-left: 2px solid #e7b041

        &.tableTitleHeaderField
            background-color: #eaeaea
            border-right    : 1px solid #ddd

            &.last-title
                border-right: 2px solid #e7b041

        &.calculation
            background-color: #D1EEF2
            background-image: linear-gradient(to bottom, #E6FCFD, #E3F5F7);

        &.editable
            background-color: rgba(229, 252, 242, 0.4)

            i
                font-size:   10px
                padding-top: 6px

    div.tableHeaderFieldHoriz
        background-color: #EEEEEE
        font-size:        12px
        font-weight:      400px
        line-height:      20px
        border-top:       1px solid #dddddd
        border-bottom:    1px solid #dddddd

    div.even
        background: #f8f8f8;
        border-top: 1px dotted #dddddd
        border-bottom: 1px dotted #dddddd

    div.rowCheckbox
        padding-top: 2px
        cursor: pointer

    div.checkable
        width: 26px
        margin-left: 0px
        padding-left: 4px
        padding-right: 4px

    div.selected td
        background-color: rgba(237, 192, 80, 1.0)

    div.dataFilterWrapper
        margin           : 0px
        padding          : 0px
        border           : 0px
        border-top       : 1px solid #D6D6D6
        border-bottom    : 1px solid #D6D6D6
        border-right     : 1px solid #dddddd
        background-color : white
        //text-align       : left

        &.last-title
            border-right: 2px solid #e7b041

        &.first-action
            border-left: 2px solid #e7b041

        &.last_data
            border-right: none
            
        &:hover
            .dataFilterIcon.empty
                display: block
        
        .dataFilterIcon
            // display : none
            left    : 0px
            top     : 0px
            width   : 24px
            height  : 24px
            font-size: 20px
            line-height: 24px
            // border-right-color: #f5f5f2
            // border-right-style: solid
            // border-right-width: 1px
            text-align: center
            padding: 0
            color: #bbbbbb
            font-weight: 100

            &.dataFilterNoBorder
                border-right: none
                
            &.empty
                display: none

            i
                font-size: 12px

        .dataFilterIcon.default
            color: #bbbbbb

        .dataFilter
            display         : inline-block
            width           : 100%
            height          : 24px
            margin          : 0px
            border          : 0px
            color           : #205020
            background-color: white

        input.dataFilter
            display         : inline-block
            width           : 100%
            height          : 24px
            margin          : 0px
            border          : 0px
            color           : #205020
            background-color: white

    .tableRow
        
        &.hoverOver div,
        &:hover div
            border-top       : 1px solid rgba(80,0,0,0.7)
            border-bottom    : 1px solid rgba(80,0,0,0.7)
            color            : #200000

        .row_checked
            font-weight      : 600
            background-color : rgba(210, 190, 210, 0.4)

        .row_locked
            font-weight:      500
            color:            #B74F39
            background-color: #fBf0eE

        .cell
            border-right     : 1px solid #dddddd
            cursor           : cell

            &.last_data
                border-right: none

            &.calculation
                background-color: rgba(209, 238, 242, 0.2)

            &.first-action
                border-left: 2px solid #E7B041 !important

            &.last-title
                border-right: 2px solid #E7B041 !important


            &.editable
                padding-left     : 4px
                padding-right    : 4px
                padding-top      : 2px
                padding-top      : 2px
                color            : #004F0A
                cursor           : ibeam
                background-color: rgba(209, 252, 222, 0.2)

                &:hover
                    background-color : #B0E296
                    cursor           : text

                &.even
                    background-color: rgba(209, 252, 222, 0.4)

            &.clickable
                color            : #0000BB
                cursor           : pointer

            &:hover
                border           : 1px solid #000080
                background-color : #eeeeff
                
            &.cell_highlighted
                background-color: #99ccff

            &.math-cell
                background-color: #c7c0c0
        
                &.math-title
                    font-weight: 600
                    text-align:  left

                // &.even
                //     background-color: #cccccc

            &.even.calculation
                background-color: rgba(209, 238, 242, 0.4)

            img
                margin-top: 4px

            .dynamic_edit
                border           : 0px
                width            : 100%
                height           : 100%
                padding-left     : 4px
                padding-right    : 4px
                padding-top      : 0px
                padding-top      : 0px
                margin           : 0px
                background-color : rgba(204, 228, 240, 1.0)

            .table_button
                color            : #0000AA
                cursor           : pointer

            .table_button:hover
                border           : 1px solid #000070
                background-color : #eeeeff

            .memo
                color: rgba(0,0,0,0.9)
                overflow: hidden
                margin-right: 18px

            .fieldicon
                float: right
                width: 18px
                color: rgba(0, 0, 0, 0.2)

    .table-title
        background-color: #fafafa
        // border-top:       1px solid rgb(214, 214, 214)
        border-bottom:    1px solid rgb(214, 214, 214)
        text-shadow:      2px 2px 2px #eeeeee
        font-size:        16px
        padding:          4px 7px
        color:            #777  
        
        .ninja-table-saved-search
            float: right
            
        .ninja-table-saved-search-text
            cursor: pointer
            color: #000000
            
            &.disabled
                color: #aaaaaa
                cursor: not-allowed
        
        .ninja-table-saved-search-save
            color: #000000
            cursor: pointer
            
            &.disabled
                color: #aaaaaa
                cursor: not-allowed

div.dataFilter:focus
    border           : 0px
    background-color : #f6fff6

input.editing
    padding-left: 0px
    padding-right: 0px
    padding-top: 0px
    padding-top: 0px

span.fage
    text-align: right
    float: right
    color: #606060
    padding-right: 8px

.dataFilter.decimal
    text-align: right

.editable:hover
    border: 1px solid #00bb00

//fixed header styles for table
.outer-container
    position    : absolute
    height      : 100%
    bottom      : 0px
    padding-top : 10px
    width       : 100%
    overflow    : hidden

.inner-container
    height   : 100%
    width    : 100%
    overflow : hidden

.table-header
    height: 40px
    position: relative

.table-body
    height: calc(100% - 50px)
    overflow: auto

.table-wrapper
    position: relative
    height: 100%


.newDataCell
    border: 1px solid rgba(30, 150, 10, 0.7);
