$disabledColor = #aaaaaa

.ViewNavMenu
	background: #2c343f

	// .ninja-nav-group:before
	.ninja-nav-group-title-wrapper:before
		font-family:    "Font Awesome Pro 5", "FontAwesome";
		content:        "\f078";
		display:        inline-block;
		vertical-align: middle;
		position:       absolute
		right:          6px
		padding-top:    6px
		color:          #c5c0bd
		font-weight:    500
		font-size:      10pt
		padding-right:  10px

	.ninja-nav-group-title-wrapper:before .disabled
		content:       "\f111"
		padding-right: 10px

	.ninja-nav-group-title-wrapper.disabled:before
		color:         $disabledColor

	// .ninja-nav-group.collapsed:before
	.collapsed > .ninja-nav-group-title-wrapper:before
		content:        "\f054";
		padding-right:  10px

	.view-navmenu-title
		height:      40px
		padding:     5px
		font-size:   22px
		font-weight: bold
		line-height: 30px
		color:       #c5c2c2
		overflow:    hidden
		word-break:  break-all

	.ninja-nav-group
		cursor:      pointer

		.ninja-nav-group-title-wrapper
			width:           100%
			height:          100%
			margin:          0 auto
			color:           #c5c2c2
			text-decoration: none
			background:      none

			:hover
				color:            #ffffff
				background-color: #1F242E

			.ninja-nav-group-icon-wrapper
				height:      100%
				width:       30px
				text-align:  center
				float:       left
				line-height: 30px
				font-size:   18px

				&.full-width
					width:  100% !important

				.ninja-nav-group-icon
					width:       100%
					height:      100%
					font-size:   18px
					line-height: 30px

			.ninja-nav-group-title
				height:      30px
				font-size:   18px
				line-height: 30px
				padding:     0px 10px
				margin-top:  16px
				// background-color: #1D2C35

			&.disabled
				color:       $disabledColor
				cursor:      not-allowed

		.ninja-nav-group-title-wrapper.disabled
			:hover
				background-color: #2F343E
				cursor:           not-allowed
				color:            $disabledColor

		.ninja-nav-group-items
			margin-left:     24px
			
			.ninja-nav-group-filter-wrapper
				display:         flex
				flex-direction:  row
				justify-content: flex-start
				align-items:     center

				.ninja-nav-group-filter-input
					font-size:    14px
					
				.ninja-nav-group-filter-close
					font-size:    18px
					color:        #c5c2c2
					padding-left: 2px
					
			.ninja-nav-group-not-found
				font-size:   12px
				color:       #c5c2c2
				padding-top: 6px

			.ninja-nav-item
				height:      30px
				line-height: 30px

				:hover
					color:            #ffffff
					background-color: #1F242E

				a
					color:           #c5c2c2
					text-decoration: none

				&.disabled a
					cursor: not-allowed
					color:  grey

				&.disabled a:hover
					cursor: not-allowed
					color:  grey

				&.selected
					background: rgba(255,255,255,0.2)

					a
						color:           #fff
						text-decoration: none

			.ninja-nav-item.disabled

				:hover
					background-color: #2F343E
					color:            $disabledColor


	.ninja-nav-icon
		text-align:   left
		width:        24px
		height:       30px
		min-width:    24px
		max-width:    24px
		display:      inline
		float:        left
		padding-left: 4px
