.ViewChat
    .mainWrapper
        max-width:       800px
        height:          100%
        margin:          0 auto
        display:         flex
        flex-direction:  column
        justify-content: space-between
        padding:         0px
            
        .header
            display:          flex
            flex-direction:   row
            justify-content:  center
            align-items:      center
            font-size:        30px
            padding:          30px
            background-color: #54c9db
            
        .messages-wrapper
            flex:             1
            background-color: #ffffff
            overflow:         auto
            
            .msg-time-line
                text-align:   center
                padding:      5px
        
            .msg-from-me
                text-align:   right
                padding:      5px 10px
                .message
                    background-color: #e4f9ff

            .msg-from-op
                padding: 5px 10px
                .message
                    background-color: #dcffdc
                
            .message
                display:       inline-block
                padding:       20px
                font-size:     16px
                color:         #000000
                border-radius: 6px

        .input-wrapper
            display:          flex
            flex-direction:   row
            align-items:      center
            background-color: #ffffff
            border-top:       1px solid grey
            
            .text-input-wrapper
                flex:       1
                padding:    15px 20px
                
                textarea
                    width:      100%
                    // height:     100%
                    min-height: 40px
                    max-height: 100px
                    border:     none
                    font-size:  16px
                    resize:     none
                    overflow-x: auto
                    overflow-y: hidden
                    
                    &:focus
                        outline: none
                
            .icon-btn
                padding:        10px

                i
                    font-size:  40px

        .footer
            display:          flex
            align-items:      center
            justify-content:  center
            padding:          20px
            background-color: #dcecf2
            
            .footer-text
                font-size:   24px
                font-weight: 400
                max-width:   330px
                text-align:  center
