#viewConsoleOutputTable

    width: 100%

.viewConsoleOutputTable td
    font-family: monospace
    font-size: 12px
    padding: 4px
    border-bottom: 1px solid #eeeeee
    user-select: text

    .error
        color: #ff0000

    .final
        font-weight: 500
        color: #800080

    span
        padding-right: 6px

    span.string
        color: #202060

    span.num
        color: #009000

    span.json
        color: #402070


.viewConsoleOutputTable td td
    border-top: 1px solid #f2f2f2

.viewConsoleOutputTable tr.working td

    color: #401040
    background-color: #eeffee


.viewConsoleOutputTable td:nth-child(1)
    width: 80px
    text-align: right

.viewConsoleOutputTable td:nth-child(3)
    width: 80px
    text-align: right
