.ViewImageStripPopups
	.image-strip-popups-main
		height : 100%
		&.image-strip-popups-horizontal
			overflow-y : hidden
		.scroll-list
			width : auto
	.imagethumb
		// border-left  : 1px solid #202020
		// border-right : 1px solid #202020
		// border-top   : 1px solid #202020
		margin-left  : 4px
		margin-right : 4px
		margin-top   : 8px
		margin-bottom: 4px
		text-align : center

		.number_body
			width        : 100%
			padding      : 4px
			background   : #fff
			border-bottom: 1px solid #eeeeee
			color        : #666
			text-align   : center
			font         : 14px Arial, sans-serif

	.imagethumb.selected
		border-left : 1px solid #ff0000
		border-right: 1px solid #ff0000
		border-top  : 1px solid #ff0000

		.number_body
			border-bottom: 1px solid #ff0000
			color: #ff0000
	
	.number_body_annotation 
		padding-left: 20px
			
	.imagethumb.horizontal
		display : inline-block

	.imagethumb img
		width: 100%
		
	.imagethumb.horizontal img
		width : auto

	.active_scroll_element
		background : green

	.thumbnail
		text-align right
		background-size 90% 100%
		background-position center
		background-repeat no-repeat
		height 110px
