.ViewDocumentPDF

    .pdf-file-input
        display: none

    .controls-wrapper
        width: 100%
        height: 100%

        .buttons-wrapper
            width: 100%
            height: 40px

        .info-wrapper
            position: absolute
            top: 0
            right: 0
            height: 40px
            line-height: 40px
            padding-right: 10px

        .title-wrapper
            width: 100%
            height: 30px
            line-height: 30px
            font-size: 18px
            text-align: center

    .content-wrapper
        text-align: center
        height: 100%
        overflow: auto

        .pdf-canvas
            display: block
            // max-width: 100%
            margin: 10px auto
