.ViewFileManager

    .ninja-fm-filelist
        .ninja-fm-fileitem
            display:       flex
            align-items:   center
            padding:       10px;
            margin:        0 10px;
            border-bottom: 1px solid #afafaf;

            &.ninja-fm-selected
                background-color: #9fd0ff

            .ninja-fm-file-icon
                margin-right: 15px
                cursor:       pointer
            .ninja-fm-file-data
                .ninja-fm-file-name
                    line-height: 20px
                    cursor:      pointer
                .ninja-fm-file-date
                    line-height: 20px

                .ninja-fm-file-desc
                    line-height: 20px

        .ninja-fm-folderitem
            cursor:          pointer

        .ninja-fm-goback
            .ninja-fm-goback-text
                height:        60px
                font-size:     14px
                line-height:   60px
                margin:        0 10px
                padding-left:  30px
                border-bottom: 1px solid #afafaf
                cursor:        pointer
                font-weight:   400
