.calendarWrapper
	.titleWrapper
		.arrow-btn#prevBtn
			i.fa.fa-angle-left
		.calendar-title#title
		.arrow-btn#nextBtn
			i.fa.fa-angle-right

	.dayLabelsWrapper#dayLabelsWrapper
		.dayLabel#dayLabel1
		.dayLabel#dayLabel2
		.dayLabel#dayLabel3
		.dayLabel#dayLabel4
		.dayLabel#dayLabel5
		.dayLabel#dayLabel6
		.dayLabel#dayLabel7

	.daysWrapper#daysWrapper
		.weekWrapper#weekWrapper1
			.weekDay#weekDay11
			.weekDay#weekDay12
			.weekDay#weekDay13
			.weekDay#weekDay14
			.weekDay#weekDay15
			.weekDay#weekDay16
			.weekDay#weekDay17
		.weekWrapper#weekWrapper2
			.weekDay#weekDay21
			.weekDay#weekDay22
			.weekDay#weekDay23
			.weekDay#weekDay24
			.weekDay#weekDay25
			.weekDay#weekDay26
			.weekDay#weekDay27
		.weekWrapper#weekWrapper3
			.weekDay#weekDay31
			.weekDay#weekDay32
			.weekDay#weekDay33
			.weekDay#weekDay34
			.weekDay#weekDay35
			.weekDay#weekDay36
			.weekDay#weekDay37
		.weekWrapper#weekWrapper4
			.weekDay#weekDay41
			.weekDay#weekDay42
			.weekDay#weekDay43
			.weekDay#weekDay44
			.weekDay#weekDay45
			.weekDay#weekDay46
			.weekDay#weekDay47
		.weekWrapper#weekWrapper5
			.weekDay#weekDay51
			.weekDay#weekDay52
			.weekDay#weekDay53
			.weekDay#weekDay54
			.weekDay#weekDay55
			.weekDay#weekDay56
			.weekDay#weekDay57
		.weekWrapper#weekWrapper6
			.weekDay#weekDay61
			.weekDay#weekDay62
			.weekDay#weekDay63
			.weekDay#weekDay64
			.weekDay#weekDay65
			.weekDay#weekDay66
			.weekDay#weekDay67

	.expandHandler#expandHandler
