.ninja-tabs
    .ninja-tab-list.ninja-tab-list-left
        height: 100%

        li.ninja-nav-tab
            position:        relative
            display:         flex
            justify-content: center
            flex-direction:  column
            text-align:      center
            border-top:      none
            border-left:     1px solid #aaa
            line-height:     100%
            
            &.active
                border-right:  1px solid #aaa
                border-left:   1px solid #008
                border-bottom: 1px solid #aaa
                
            &.ninja-right-tab
                border-right:  1px solid #aaa

            .ninja-tab-icon
                display:       block
                padding-right: 0px
                font-size:     18px
                line-height:   30px
                
            .ninja-badge
                .ninja-badge-text
                    margin: 0
                    
            .ninja-tab-close-btn
                position: absolute
                top:      2px
                left:     0px
