@import "../../src/theme.styl"

.ViewTiles

    themeNoTap()

    .ninja-tile-title
        width:       100%
        height:      100px
        font-size:   30px
        font-weight: 600
        text-align:  center
        line-height: 100px

    .ninja-tilelist-wrapper
        width     : 100%
        max-height: 100%
        overflow-x: hidden
        overflow-y: auto
        .ninja-tile-container
            background-color: #f9f9f9
            border: 1px solid #b5b5b5
            float: left
            &.tilecolor0
                background-color: $tabcolor0
                color: #505050

            &.tilecolor1
                background-color: $tabcolor1
                color: #505050

            &.tilecolor2
                background-color: $tabcolor2
                color: #505050

            &.tilecolor3
                background-color: $tabcolor3
                color: #505050

            &.tilecolor4
                background-color: $tabcolor4
                color: #505050

            &.tilecolor5
                background-color: $tabcolor5
                color: #505050

            &.tilecolor6
                background-color: $tabcolor6
                color: #505050

            &.tilecolor7
                background-color: $tabcolor7
                color: #505050

            &.tilecolor8
                background-color: $tabcolor8
                color: #505050

            &.tilecolor9
                background-color: $tabcolor9
                color: #505050

            &.tilecolor10
                background-color: $tabcolor10
                color: #505050

            &.tilecolor11
                background-color: $tabcolor11
                color: #505050

            &.tilecolor12
                background-color: $tabcolor12
                color: #505050        

            .ninja-tile-title 
                text-align: center
                .ninja-tile-title-text
                    position   : relative
                    width      : 100%
                    font-size  : 24px
                    font-weight: 400

            .ninja-tile-description
                text-align: center
                padding: 5px
                .ninja-tile-description-text
                    position   : relative
                    width      : 100%
                    font-size  : 16px
                    font-weight: normal        
            .ninja-tile-subtxt
                text-align: center
                border-top: 1px solid #b5b5b5
                background-color: #f9f9f9
                padding: 5px
                .ninja-tile-subtxt-text
                    position   : relative
                    width      : 100%
                    font-size  : 14px
                    line-height: 20px

            .ninja-tile-clickable
                cursor: pointer
