.ViewGrid
	overflow: auto
	padding: 20px

	.grid-stack
		.grid-stack-item
			border: none !important
			&:after
				position: absolute
				content: ""
				left: -20px
				right: -20px
				height: 40px
				width: 40px
			
			.grid-stack-item-content
				left: 0
				width: 100%
				background-color: #d5d4d4
				// box-shadow: 4px 4px 4px #888888
			
				.gs-handler
					height: 28px
					font-size: 16px
					line-height: 28px
					text-align: left
					padding: 0 8px

				.border-titlebar
					display: flex
					justify-content: space-between
					border-bottom: #d8d8d8 solid 1px;
					height: 28px;
					color: #d5d4d4
					// background: linear-gradient(#f8f8f8, #ececec, #f8f8f8);
					background-color: #252525
					cursor: grabbing
					
					.gs-title
						i
							padding-right: 10px

					.gs-close-button
						padding: 0 5px
						cursor: pointer

			.grid-radius-border
				border: #d8d8d8 solid 1px !important;
				border-radius: 5px;
		
		.grid-stack-placeholder > .placeholder-content
			background-color: rgba(0, 0, 0, 0)
			left: 0
			width: 100%