$toolbarBackground=#f4f4f1

.navbar-default
	background-color: $toolbarBackground

.flat-navbar-btn
	border:           0px
	background-color: $toolbarBackground
	padding-right:    6px
	height:           18px
	color:            #1FBED7
	
	.btn-success
		color: red

.navbar-btn.btn-default
	color: #303030

.flat-toolbar-btn i
	font-size: 0.8em
	// padding-left: 10px
	// padding-right: 4px

.flat-toolbar-btn
	line-height:      18px
	padding-top:      6px
	padding-bottom:   6px
	padding-left:     6px
	padding-right:    6px
	margin-top:       4px
	margin-bottom:    0
	font-weight:      500
	color:            #007ACC
	background-color: $toolbarBackground
	border:           1px solid $toolbarBackground
	border-radius:    0px
	display:          inline-block
	padding:          6px 12px
	font-size:        14px
	text-align:       center
	white-space:      nowrap
	vertical-align:   middle
	touch-action:     manipulation
	user-select:      none
	tabIndex:         -1
	background-image: none;
	font-family:      "San Francisco Text", Arial, Helvetica, sans-serif
	cursor:           pointer
	border-left: 1px solid rgba(0, 80, 120, 0.2)
	
	&.toolbar-btn-right
		float: right

.flat-toolbar-btn:nth-child(1)
	border-left: 1px solid $toolbarBackground

.flat-toolbar-btn:hover
	color:         #005abc
	border:        1px solid #bbbbbb
	border-radius: 0px
	cursor:        pointer

.flat-toolbar-btn:selected,
.flat-toolbar-btn:active
	color: #3080AA
	border: 1px solid #303080

.flat-toolbar-btn:focus
	color: #3080AA
	border: 1px solid $toolbarBackground

.flat-toolbar-btn:selected
	border: 0px
	border-radius: 0
	background-color: #eeeeee

button[disabled].flat-toolbar-btn
	color:		grey
	cursor: 	not-allowed
.toolbar-btn
	line-height:    18px
	padding-top:    6px
	padding-bottom: 6px
	padding-left:   12px
	padding-right:  12px
	font-weight:    500
	font-family:    "San Francisco Text", Arial, Helvetica, sans-serif
	color:          #1FBED7

.toolbar-btn:hover
	color:            #02A0B7

