@import "../../src/theme.styl"

.ninja-steps
	themeNoTap()
	background-color: #ffffff

	.clr
		clear: both


	ul
		list-style:       none;
		list-style-type:  none;
		margin:           0;
		padding:          0;
		width:            100%;
		// background-color: #eeeeee
		background-color: #ffffff
		
		.ninja-step-icon-bar 
			position  : absolute
			width     : 100%
			height    : 16px
			background: #e6e6e6
			left      : 0
			top       : 17px
			z-index   : 0

	li.ninja-nav-step
		height:         80px
		font-size:      24px
		cursor:         pointer
		display:        inline-block;
		margin-left:    0px
		margin-right:   0px
		margin-top:     0px
		margin-bottom:  0px
		padding-left:   8px
		padding-right:  8px
		padding-top:    0px
		padding-bottom: 0px
		color:          $colorItemInactiveHighlight
		vertical-align: middle
		text-align:     center
		position:       relative
		z-index:        1

		.badge
			margin-right: 10px

		.ninja-step-text
			display: inline-block
			font-size: 20px
			line-height: 30px
			
		.ninja-stepper-icon 
			height      : 50px
			line-height : 50px
			font-size   : 30px
			
			.ninja-step-default-icon
				position        : relative
				display         : inline-block
				border          : 2px solid grey
				border-radius   : 50%
				line-height     : 46px
				min-width       : 50px
				background-color: #ffffff

		.ninja-badge
			display:          inline-block
			margin-right:     4px
			margin-left:      10px
			border-radius:    50%
			border:           1px solid #dddddd
			background-color: #eeeeee
			width:            auto
			min-width         34px
			height:           34px
			padding-top:      4px
			text-align:       center
			padding-left:     4px
			padding-right:    4px

			&.badge-warning
				background-color: #f0ad4e
				color: #fff

			&.badge-primary
				background-color: #337ab7
				color: #fff

			&.badge-success
				background-color: #5cb85c
				color: #fff

			&.badge-danger
				background-color: #d9534f
				color: #fff

			&.badge-info
				background-color: #5bc0de
				color: #fff

	li.ninja-nav-step.active

		color:         $colorItemActiveHighlight
		font-weight:   500
		
		.ninja-stepper-icon 
			.ninja-step-default-icon
				display      : inline-block
				border       : 2px solid #15cc77
				border-radius: 50%
				line-height  : 46px
				min-width    : 50px

		.ninja-badge
			border: 1px solid darker($colorItemActiveHighlight, 30)
			background-color: $colorItemActiveHighlight
			color: #ffffff

		&.badge-warning
			background-color: #f0ad4e
			color: #fff

		&.badge-primary
			background-color: #337ab7
			color: #fff

		&.badge-success
			background-color: #5cb85c
			color: #fff

		&.badge-danger
			background-color: #d9534f
			color: #fff

		&.badge-info
			background-color: #5bc0de
			color: #fff


.ninja-nav-body
	padding: 0
	margin: 0
	background-color: #ffffff
	overflow-y: auto
	overflow-x: hidden
	
.ninja-stepper-title
	font-size        : 40px
	padding          : 20px 0px
	text-align       : center
	background-color : #ffffff
	
.ninja-stepper-subtitle
	font-size        : 20px
	padding          : 5px 0px
	text-align       : center
	background-color : #ffffff	
	
.ninja-stepper-button-container
	background-color  : #ffffff

	.ninja-stepper-button 
		border:           none
		background-color: #ffffff
		color:            #15cc77
		box-shadow:       none
		
		&:focus
			outline:      none
		
		&:hover
			background:    #f5f5f5
			border:        1px dotted
			border-radius: 5px
			
		&:active
			background:   #ffffff
		
		&.disabled 
			color:        grey
