.ViewForm
    overflow: auto

    input[type=text].form-control:disabled
        border: 1px dashed #dddddd

    .ninja-form

        display:    block
        margin-top: 0em

        .ninja-form-text-row
            line-height: 30px
            height:      80px

            label
                padding:        0px
                padding-bottom: 5px
                font-size:      10pt
                color:          rgb(20, 60, 96)

        .ninja-form-inputs-row
            display               : grid
            grid-template-columns : repeat(auto-fit, minmax(300px, 1fr))
            grid-gap              : 10px

            &:before
                content: none
            &:after
                content: none

            .form-group
                min-width       : 280px
                display         : flex
                flex-direction  : column
                justify-content : center
                align-items     : baseline
                min-height      : 65px
                padding         : 0 10px

                .ninja-form-label
                    min-height: 18px

                .ninja-form-group
                    float             : none
                    width             : 100%

                    input
                        border        : none
                        border-bottom : 1px solid black
                        box-shadow    : none
                        background    : transparent

                &.form-group-focused
                    .ninja-form-group
                        input.form-control
                            border-color: rgb(20, 60, 96)

        .ninja-form-buttons-row
            display         : flex
            justify-content : flex-end

            .form-group
                min-width   : 80px
                margin-left : 50px

                button
                    border           : none
                    background-color : transparent
                    color            : #15cc77
                    box-shadow       : none

                    &:focus
                        outline:      none

                    &:hover
                        border:        1px dotted
                        border-radius: 5px

                    &:active
                        background:    #ffffff

                    &.disabled
                        color:         grey

        .form-group:before
            display:    table
            // content: ""
            box-sizing: border-box

        .form-control
            margin        : 0px
            padding       : 4px
            border-radius : 0px
            user-select   : none

        .help-block
            font-size : 0.8em
            height    : 10px

    // .ninja-form .has-warning

    //     label
    //         color: #8a6d3b

    // .ninja-form .has-error

    //     label
    //         color: #a94442

    .ninja-form.wide

        .form-group
            float:     left
            width:     450px

        .ninja-form-buttons-row
            .form-group
                float: none
                width: 200px

    // For modal forms, use the full width
    .modal-content .ninja-form.wide

        .form-group
            float: none
            width: 100%

    .ninja-form.short

        .form-group
            float: left
            width: 450px

        .row
            float: left

    // .modal-content .ninja-form .ninja-form-buttons-row

    //     display         : flex
    //     justify-content : flex-end

    .ninja-form-buttons-row .ninja-form-button
        height: 34px
