.ViewPropertyTimeline
	overflow-y: auto

.ViewTimeline
	overflow-y: auto

	.view-timeline-content
		border-left: 0px

		.ninja-timeline-group
			padding: 10px 0px

			.ninja-timeline-group-date
				margin-left:      0px
				width:            100%
				height:           32px
				line-height:      32px
				background-color: #f5f5f5
				cursor:           pointer
				color:            #55b388
				padding-left:     20px
				padding-right:    20px
				margin-bottom:    20px
				font-size:        14pt

				i
					color        : #55b388
					float        : right
					//margin-right : -0.5em

			.ninja-timeline-group-collapsed
				height: 60px
				cursor: pointer
				padding-left : 20px
				color: #0B8C00

			.ninja-timeline-group-itemlist
				padding-left : 20px

				.ninja-timelineitem
					min-height: 20px
					padding-bottom: 12px
					display: table-row

					.event-offer
						color: #402080

					.ninja-timelineitem-icon
						color:       #55b388
						float:       none
						display: table-cell
						margin-top:  2px
						margin-left: 4px
						padding-right: 6px

					.ninja-timelineitem-right
						display: table-cell

					.ninja-timelineitem-text
						font-family:    "San Francisco Text"
						font-size:      12pt
						padding-bottom: 6px
						padding-right:  16px
						color:          #200020

					.ninja-timelineitem-footer
						height:         20px
						font-size:      12pt
						padding-bottom: 16px
						color:          grey
						margin-bottom:  20px

						.timeline-sourceuser
							color  : #138cd8
							cursor : pointer
