.ViewDragFileTarget
    .dragfiletarget-container
        text-align center
        width 100%
        height 100%

        .dragfile-form
            text-align center
            display table
            border 1px dashed #bbbbbb

            &.dragover
                background-color #ddeeff
                border 1px solid #00aaff

                div
                    font-size 24px
                    color #00aaff
                    font-style normal
            
            .dragfile-title
                text-align center
                display table-cell
                vertical-align middle
                color #8c8c8c
                font-size 20px
                font-weight bold
                font-style italic
                cursor pointer

                &.dragfile-title-active
                    color: #77aaff

            input[type=file].dragfile-input
                display none
