.material-icons
    font: normal normal normal 14px/1 FontAwesome

.miller-cols-container-wrapper
    ::-webkit-scrollbar
        background rgba(0, 0, 0, 0)
        width 6px

    ::-webkit-scrollbar-thumb
        background rgba(0, 0, 0, 0.3)
        height 30px
        border-radius 2px
    margin auto
    position relative
    z-index 1
    background-color #fff
    display block
    overflow hidden

.miller-cols-body
    display flex
    display -ms-flexbox
    display -webkit-box
    overflow hidden
    position relative
    z-index 1
    margin 0 auto
    border-left 1px solid #DBDBDB

.miller-col-container,
.miller-col-loading-container
    border 1px solid #DBDBDB
    border-left 0
    display -ms-flexbox
    display -webkit-box
    display flex
    -webkit-box-orient vertical
    -webkit-box-direction normal
    -ms-flex-direction column
    flex-direction column
    -webkit-box-flex 1
    -ms-flex 1
    flex 1
    position relative
    padding 0
    overflow-wrap break-word
    //min-width 210px
    //max-width 400px
    min-width 100%

.miller-col-list-item
    padding 10px
    font-weight 300
    display table
    width 100%
    color rgba(0, 0, 0, 0.75)
    position relative
    text-align left
    word-break break-all
    &.selected
        background #eaeaea
        color rgba(0, 0, 0, 0.9)
    & > *
        vertical-align middle
    .list-item-text
        .list-item-icon
            float left
            padding-top 4px
            padding-bottom 4px
    .has-children
        float right
        padding-top 2px
        &:before
            content: "\f054"
    .list-item-actions
        position absolute
        right 12px
        display none
    &:hover
        background rgba(0, 0, 0, 0.05)
        cursor pointer
        .list-item-actions
            display inline

.miller-col-loading-container
    .miller-col-body
        width 100%
        height 100%
    &.col-loading
        .loading-icon-container
            position absolute
            top 10%
            left 45%
            height 5rem
            width 5rem
            transform translate(-50%, -50%)
            background-size contain

.miller-col-nav
    position absolute
    top 50%
    transform translateY(-50%)
    .material-icons
        font-size 3em
        font-weight 300
        float right
    &:hover
        & > *
            cursor pointer
            color #777
    &.nav-prev
        left 0
        transform translateX(-100%)
        .material-icons:before {
            content: "\f053"
        }
    &.nav-next
        right 0
        transform translateX(100%)
        .material-icons:before {
            content: "\f054"
        }
    &.hidden
        visibility hidden
        opacity 0

.miller-col-loading-container.hidden,
.miller-col-container.hidden
    display none

.miller-col-title
    border-bottom 1px solid #DBDBDB
    text-align center
    padding 10px
    font-weight 900
    -webkit-box-shadow 0px 5px 4px rgba(0, 0, 0, 0.05)
    -moz-box-shadow 0px 5px 4px rgba(0, 0, 0, 0.05)
    box-shadow 0px 5px 4px rgba(0, 0, 0, 0.05)
    position absolute
    z-index 10
    height 48px
    background #fff
    width 100%
    .material-icons
        &.action-add
            position absolute
            top 50%
            transform translateX(-100%) translateY(-50%)
            &:hover
                font-weight bold
                color gray

.miller-col-title-text
    text-transform uppercase
    font-size 90%
    font-weight 700
    letter-spacing 1px

.miller-col-actions
    float right
    .material-icons
        cursor pointer

.miller-col-body
    -webkit-overflow-scrolling touch
    margin-top 48px
    padding-top 0
    overflow-y auto

.list-item-icon
    margin-right 10px

.miller-col-list-item[data-has-children="true"]
    .list-item-actions
        right 40px

.miller-col-list-item:hover .material-icons,
.miller-col-list-item.selected .material-icons
    color #777

.list-item-actions
    .material-icons
        padding-left 8px
        opacity 0.6
        &:hover
            opacity 1

.text-node
    white-space nowrap

.spinner
    min-width 24px
    min-height 24px
    &:before
        content 'Loading…'
        position absolute
        top 50%
        left 50%
        width 16px
        height 16px
        margin-top -10px
        margin-left -10px
    &:not(:required):before
        content ''
        border-radius 50%
        border 2px solid rgba(0, 0, 0, .3)
        border-top-color rgba(0, 0, 0, .6)
        animation spinner .6s linear infinite
        -webkit-animation spinner .6s linear infinite

.scrollable
    background-color white
