.ViewCalendarWide
    .calendarWrapper
        background-color: #f0f8ff

        .titleWrapper
            display: flex
            justify-content: space-between
            align-items: center
            padding: 0 20px

            .calendar-title
                min-height:  40px
                max-height:  120px
                font-size:   24px
                line-height: 30px
                text-align:  center
                padding:     20px 0

            .arrow-btn
                cursor: pointer

                i
                    font-size: 20px
                
        .dayLabelsWrapper
            display: flex

            .dayLabel
                min-height:  40px
                text-align:  center
                line-height: 40px
                font-size:   20px

        .daysWrapper
            .weekWrapper
                display: flex

                .weekDay
                    // border: 1px solid black
                    text-align: center
                    font-size: 20px
                    user-select: none

                    .today
                        color: #ffffff
                        background-color: #00bb00
                        width: 50%
                        border-radius: 50%
                        margin: 25% auto

                    &.inactive
                        color: #a9a9a9

                        .today
                            background-color: darkgrey

        .expandHandler
            min-height: 40px
            text-align: center
            font-size: 20px
            line-height: 40px
