.splitterGutter
    background-color: #bbbbbb

.splitterGutter.vertical
    border-right    : 1px solid #909090
    border-left     : 1px solid #909090
    width           : 4px
    cursor          : col-resize
    background-repeat: no-repeat
    background-position: 50%
    background-image url('/images/grips_vertical.png')

.splitterGutter.horizontal
    border-right: 0px
    border-left: 0px
    border-top: 1px solid #909090
    border-bottom: 1px solid #909090
    cursor: row-resize
    background-repeat: no-repeat
    background-position: 50%
    background-image url('/images/grips_horizontal.png')

.splitterGutter.dragging
    background-color: #efefef
    opacity: 0.6
    z-index: 5000001
