@import "../../src/theme.styl"

$dAmount   = 20
$darkLine  = #aaaaaa
$darkBack  = #f4f4f4
$lightBack = #eeeeee

.ninja-tabs
	themeNoTap()

	.clr
		clear: both

	.ninja-tab-list
		list-style:      none;
		list-style-type: none;
		margin:          0;
		padding:         0;
		width:           100%;
		background-color:$lightBack
		overflow:        hidden

	li.ninja-nav-tab
		min-width: 80px
		height:         32px
		font-size:      11px
		cursor:         pointer
		display:        inline-block;
		margin-left:    0px
		margin-right:   0px
		margin-top:     0px
		margin-bottom:  0px
		padding-left:   8px
		padding-right:  8px
		padding-top:    4px
		padding-bottom: 4px
		color:          $colorItemText
		vertical-align: middle
		border-right:   1px solid $darkLine
		overflow: none
		border-bottom: 1px solid $darkLine
		border-top: 1px solid $darkLine
		// border-top-right-radius: 2px
		// border-top-left-radius: 2px
		background-color: $darkBack

		&.ninja-tab-disabled
			color: #808080
			background-color: #ffffff !important
			cursor: not-allowed
			
		&.ninja-right-tab
			border-top:   none
			border-right: none
			text-align:   right
			min-width:    20px

		// tab colors
		&.tabcolor0
			background-color: $tabcolor0
			color: #505050

		&.tabcolor1
			background-color: $tabcolor1
			color: #505050

		&.tabcolor2
			background-color: $tabcolor2
			color: #505050

		&.tabcolor3
			background-color: $tabcolor3
			color: #505050

		&.tabcolor4
			background-color: $tabcolor4
			color: #505050

		&.tabcolor5
			background-color: $tabcolor5
			color: #505050

		&.tabcolor6
			background-color: $tabcolor6
			color: #505050

		&.tabcolor7
			background-color: $tabcolor7
			color: #505050

		&.tabcolor8
			background-color: $tabcolor8
			color: #505050

		&.tabcolor9
			background-color: $tabcolor9
			color: #505050

		&.tabcolor10
			background-color: $tabcolor10
			color: #505050

		&.tabcolor11
			background-color: $tabcolor11
			color: #505050

		&.tabcolor12
			background-color: $tabcolor12
			color: #505050

		.badge
			margin-right: 10px

		.ninja-tab-text
			display: inline-block
			line-height: 24px
			font-size: 14px

		.ninja-tab-icon
			display:       inline-block
			padding-right: 10px
			font-size:     12px

		.ninja-tab-close-btn
			padding-left: 10px
			font-size:    12px    
			float:        right
			line-height:  24px

		.ninja-badge
			display: inline-block

			.ninja-badge-text
				display:          inline-block
				margin-right:     4px
				margin-left:      10px
				border-radius:    50%
				border:           1px solid #dddddd
				background-color: #eeeeee
				width:            auto
				min-width         20px
				height:           20px
				padding-top:      4px
				text-align:       center
				padding-left:     4px
				padding-right:    4px

				&.badge-warning
					background-color: #f0ad4e
					color: #fff

				&.badge-primary
					background-color: #337ab7
					color: #fff

				&.badge-success
					background-color: #5cb85c
					color: #fff

				&.badge-danger
					background-color: #d9534f
					color: #fff

				&.badge-info
					background-color: #5bc0de
					color: #fff

	li.ninja-nav-tab.active

		border-top: 1px solid #000088
		border-bottom: 1px solid #ffffff
		background-color: #ffffff

		color:         $colorItemActiveText
		font-weight:   500

		.ninja-badge
			.ninja-badge-text
				border: 1px solid darker($colorItemActiveHighlight, 30)
				background-color: $colorItemActiveHighlight
				color: #ffffff

			&.badge-warning
				background-color: #f0ad4e
				color: #fff

			&.badge-primary
				background-color: #337ab7
				color: #fff

			&.badge-success
				background-color: #5cb85c
				color: #fff

			&.badge-danger
				background-color: #d9534f
				color: #fff

			&.badge-info
				background-color: #5bc0de
				color: #fff

		&.tabcolor0
			border-top: 2px solid darken($tabcolor0, $dAmount)
			color: #000000

		&.tabcolor1
			border-top: 2px solid darken($tabcolor1, $dAmount)
			color: #000000

		&.tabcolor2
			border-top: 2px solid darken($tabcolor2, $dAmount)
			color: #000000

		&.tabcolor3
			border-top: 2px solid darken($tabcolor3, $dAmount)
			color: #000000

		&.tabcolor4
			border-top: 2px solid darken($tabcolor4, $dAmount)
			color: #000000

		&.tabcolor5
			border-top: 2px solid darken($tabcolor5, $dAmount)
			color: #000000

		&.tabcolor6
			border-top: 2px solid darken($tabcolor6, $dAmount)
			color: #000000

		&.tabcolor7
			border-top: 2px solid darken($tabcolor7, $dAmount)
			color: #000000

		&.tabcolor8
			border-top: 2px solid darken($tabcolor8, $dAmount)
			color: #000000

		&.tabcolor9
			border-top: 2px solid darken($tabcolor9, $dAmount)
			color: #000000

.ninja-nav-body
	padding: 0
	margin: 0
	background-color: #ffffff

.ninja-tab-fixed-90
	width: 90px

.ninja-tab-fixed-140
	width: 140px

.ninja-tab-fixed-180
	width: 180px

.ninja-tab-fixed-220
	width: 220px

.ninja-tab-fixed-360
	width: 360px

.ninja-tabs.ninja-tab-list:has(".tabcolor1.active")
	background-color: red
