table.codeEditorTable
    tr
        td(width=120) Input Variables
        td
            input#txtVariablesInput
    tr
        td(width=120) Output Variable
        td
            input#txtVariablesInput

.codeEditorLarge#codeEditorLarge