.ViewDisplayObject

    .itemTableName
        padding-top: 8px
        padding-bottom: 8px
        padding-left: 6px
        padding-right: 6px
        background-color: #dFE3dF
        margin-bottom: 8px

    table.itemDumpInfo
        width: 100%
        padding-top: 0px
        padding-bottom: 20px

        tr.topFolder td
            color: #2B4FBE

        tr:nth-child(odd) td
            background-color: #f1f1f1

        td.global
            color: #408040
            line-height: 1.4em

        tr.itemDumpImported.global th
            color         : #487FDA
            border-bottom : 1px solid #00C1F4
            padding-left  : 6px

        tr.global td:nth-child(2)
            border-right  : 1px solid #00C1F4

        td
            padding-left   : 8px
            padding-top    : 5px
            padding-bottom : 5px
            vertical-align : top
            overflow       : hidden

        td:nth-child(1)

            white-space    : nowrap
            width          : 220px
            padding-left   : 6px
            padding-top    : 4px
            padding-bottom : 4px

        tr.itemDumpImported th
            border-bottom : 1px solid #707070
            color         : #2C4D12
            font-size     : 14px
            font-weight   : 600


    .itemDump
        padding-left  : 10px
        padding-right : 10px
        padding-top   : 10px

    .itemDumpHeader

        width: 540px
        td:nth-child(1)
            width: 120px
            padding-top: 4px

    .itemChanges

        width: 100%
        padding-top: 20px
        padding-left: 10px
        padding-right: 10x

        table
            padding-bottom: 40px

        tr:nth-child(odd) td
            background-color: #e5e5e5

        td
            padding-left: 8px
            padding-top: 4px
            padding-bottom: 4px

        tr td:nth-child(1)
            padding-left: 0px

    .fdate
        // width            : 300px
        float            : left
        display          : inline

    .fage
        padding-left: 30px

    .type_arrayitem
        color: #7C4EA7

    .type_number
        color: #2D69D7

    .type_bool
        color: #C79137

    .type_date
        color: #C15204

    .datasetStart td
        // border-top: 1px solid rgba(128, 90, 90, 0.25)

    .datasetEnd td
        border-bottom: 1px solid rgba(128, 90, 90, 0.25)

    .skipRecord
        display: none

    .itemDumpTop
        width: 100%

        td
            vertical-align: top

        td:nth-child(2)
            padding-right: 10px

        .btn
            width: 220px
            margin-bottom: 4px

