header#header-navbar

    ul.nav-header.pull-right

        li.js-header-search(style='width:200px;')
            .form-material.form-material-primary(style='margin-right:24px;')
                input#searchInput.form-control(type='text', placeholder='Search..')

    ul.nav-header.pull-left

        li
            .navbar-text#MainTitle Title
            small#SubTitle Subtitle
