aside#side-overlay

    // Side Overlay Scroll Container
    #side-overlay-scroll

        // Side Header
        .side-header.side-content

            button.btn.btn-default.pull-right(type='button', data-toggle='layout', data-action='side_overlay_close')
                i.fa.fa-times

            span.font-w600.push-10-l Information

        // Side Content
        .side-content.remove-padding-t

            .block.pull-r-l

                .block-header.bg-gray-lighter
                    ul.block-options
                        li
                            button(type='button', data-toggle='block-option', data-action='content_toggle')

                    h3.block-title Users online

                .block-content.block-content-full

                    ul.nav-users#activeUsers

                .block-header.bg-gray-lighter
                    h3.block-title System activity

                .block-content.block-content-full
                    ul.list.list-activity#activityList