nav.navbar.navbar-static-top.navbar-default(role='navigation')

    .container-fluid
        ul.nav.navbar-nav(data-toggle="tabs")
            li.active
                a(href="#tabSearchResults",data-toggle="tab")#tabSearchLink
                    i.si.si-info
                    |  Search
            li
                a(href="#tabSearchResultsJSON",data-toggle="tab")
                    i.si.si-info
                    |  Results (JSON)

            li
                a(href="#tabSearchHistory",data-toggle="tab")
                    i.si.si-bag
                    |  Your History

        ul.nav.navbar-nav.navbar-right
            li.dropdown

                a.dropdown-toggle(href='#',data-toggle='dropdown',role='button')
                    i.si.si-wrench
                    |  Actions
                    span.caret

                ul.dropdown-menu
                    li
                        a#btnGenLabel(href='javascript:globalClearQueryHistory();') Clear History

.tab-content

    .tab-pane.active#tabSearchResults
        #tableResultsSearch

    .tab-pane#tabSearchResultsJSON
        #codeEditSearch
        #resultsJsonSearch

    .tab-pane#tabSearchHistory

        .block.block-themed
            .block-header.bg-success
                h3 Your Search History
            .block-content.block-content-full
                .row#queryHistoryRow
