#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}
#wrapper.active {
  padding-left: 0;
}
#wrapper.active #sidebar-wrapper {
  left: 0;
}
#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #2c343f;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
#page-content-wrapper {
  width: 100%;
}
.nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.sidebar-nav li {
  line-height: 40px;
  //text-indent: 20px;
}
.sidebar-nav li a {
  color: #999;
  display: block;
  text-decoration: none;
}
.sidebar-nav li.sidebar-title a {
  line-height: 60px;
  font-size: 20px;
  text-align: center;
}
.sidebar-nav li a span:before {
  //position: absolute;
  left: 0;
  //color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}
.sidebar-nav > .sidebar-brand {
  //height: 65px;
  line-height: 40px;
  font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
  font-weight: bold;
  color: #c5c2c2
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:focus,
.sidebar-nav li.active
.sidebar-nav li a.hovered {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}
.sidebar-nav li.collapsed a {
  color: #999;
  background: none;
}
.sidebar-nav li a:active,
{
  text-decoration: none;
}
.sidebar-nav ul li a.left-pane-item {
  padding-left: 25px;
  cursor: pointer;
}

.sidebar-nav ul :not(collapsed) .arrow:before,
.sidebar-nav li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  vertical-align: middle;
  float: right;
}
.content-header {
  height: 65px;
  line-height: 65px;
}
.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}
#menu-toggle {
  text-decoration: none;
}
.btn-menu {
  color: #000;
}
.inset {
  padding: 20px;
}
@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.active {
    position: relative;
    left: 250px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
  #sidebar-wrapper {
    left: 0;
  }
  #menu-toggle {
    display: inline-block;
  }
  .inset {
    padding: 15px;
  }
}
.main {
  padding: 20px;
}
.testTable {
  width: 100%;
}
.testTable td {
  font-size: 10pt;
  font-family: Arial;
  border-bottom: 1px solid #bbb;
  padding-bottom: 8px;
  padding-top: 8px;
  vertical-align: top;
}
.testTable td.test_code {
  width: 800px;
  font-family: monospace;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #f5f2f0;
}
.testTable td.test_label {
  width: 200px;
  min-width: 200px;
  text-align: right;
  border-right: 1px solid #ccc;
  padding-right: 8px;
}
.testTable td.test_result {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  border-right: 1px solid #ccc;
  min-width: 200px;
}
.exception {
  color: #ff3030;
  font-family: monospace;
}
.fage {
  padding-left: 20px;
}
pre {
  padding: 0px;
  border: 0px;
}
.selectize-control .selectize_item {
  font-size: 12px;
}
@media screen and (min-width: 1000px) {
  .modal-dialog {
    width: 900px;
  }
}
