.pleaseWaitDialog
    background-color: #ffffff
    border-radius: 6px
    border: 1px solid #404040
    z-index: 5000
    position: absolute
    top: 10px
    left: 10px
    width: 400px
    height: 120px
    overflow-x: auto
    overflow-y: auto
    
    .modal-body 
        word-break: break-word
        

.modal-footer
    background-color: #eeeeee

.tt-query,
.tt-hint,
.tt-input
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;

.tt-query
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

.tt-hint
    color: #999;

.tt-menu
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

.tt-suggestion
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;

.tt-suggestion.tt-is-under-cursor
    color: #fff;
    background-color: #4097cf;

.tt-suggestion p
    margin: 0;
