doctype
html.no-focus
    head
        meta(charset='utf-8')
        title Test Pages

        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/ninja.css')
        link(rel='stylesheet', href='/css/test.css')

        script(src='/ninja.js')
        script(src='/vendor/bootstrap.min.js')
        script(src='/js/test_common.js')

    body

        .container-fluid
            #wrapper
                #sidebar-wrapper

                    nav#spy

                        ul.sidebar-nav.nav
                            li.sidebar-title
                                a(href='#') Ninja UI Toolkit

                            li.sidebar-brand
                                a(href='#') Documents

                            li
                                a#markdown(href='/index.html?page=markdown')
                                    span UnderstandingViews

                            li
                                a#markdown_understandingvendors(href='/index.html?page=markdown_understandingvendors')
                                    span UnderstandingVendors

                            li
                                a#markdown_understandingmodules(href='/index.html?page=markdown_understandingmodules')
                                    span UnderstandingModules

                            li
                                a#markdown_changelist(href='/index.html?page=markdown_changelist')
                                    span ChangeList

                            li.sidebar-brand
                                a(href='#') Test Cases

                            li.collapsed(data-toggle='collapse', data-target='#datamanagement')
                                a(href='#')
                                    span Data Management
                                    span.arrow
                                ul#datamanagement.sub-menu.collapse
                                    li
                                        a.left-pane-item#globalval_1(href='/index.html?page=globalval_1')
                                            span GlobalValueManager

                                    li
                                        a.left-pane-item#dynamic_data_1(href='/index.html?page=dynamic_data_1')
                                            span Dynamic Data

                                    li
                                        a.left-pane-item#dynamic_data_3(href='/index.html?page=dynamic_data_3')
                                            span Data Searching

                                    li
                                        a.left-pane-item#editors(href='/index.html?page=editors')
                                            span Data Formatting Editors

                                    li
                                        a.left-pane-item#database_1(href='/index.html?page=database_1')
                                            span Database 1

                                    li
                                        a.left-pane-item#datamap(href='/index.html?page=datamap')
                                            span DataMap

                            li.collapsed(data-toggle='collapse', data-target='#layout')
                                a(href='#')
                                    span Layout
                                    span.arrow
                                ul#layout.sub-menu.collapse

                                    li
                                        a.left-pane-item#ninjacontainer_1(href='/index.html?page=ninjacontainer_1')
                                            span Ninja Container

                                    li
                                        a.left-pane-item#gridstack(href='/index.html?page=gridstack')
                                            span GridStack

                                    li
                                        a.left-pane-item#navmenu(href='/index.html?page=navmenu')
                                            span SideNavMenu

                                    li
                                        a.left-pane-item#viewlayout(href='/index.html?page=viewlayout')
                                            span Automatic View Layout

                            li.collapsed(data-toggle='collapse', data-target='#splitters')
                                a(href='#')
                                    span Splitters
                                    span.arrow
                                ul#splitters.sub-menu.collapse

                                    li
                                        a.left-pane-item#dockable(href='/index.html?page=dockable')
                                            span Dockable

                                    li
                                        a.left-pane-item#multidockable(href='/index.html?page=multidockable')
                                            span Multi Dockable
                                    li
                                        a.left-pane-item#test_widget_splittable(href='/index.html?page=test_widget_splittable')
                                            span Splitter

                            li.collapsed(data-toggle='collapse', data-target='#tables')
                                a(href='#')
                                    span Tables
                                    span.arrow
                                ul#tables.sub-menu.collapse

                                    li
                                        a.left-pane-item#tables_basic(href='/index.html?page=tables_basic')
                                            span Basic Functionalities

                                    li
                                        a.left-pane-item#tables_groups(href='/index.html?page=tables_groups')
                                            span Grouping

                                    li
                                        a.left-pane-item#tables_filters(href='/index.html?page=tables_filters')
                                            span Filters

                                    li
                                        a.left-pane-item#tables_formula(href='/index.html?page=tables_formula')
                                            span Tables with Formulas

                                    li
                                        a.left-pane-item#tables_icons(href='/index.html?page=tables_icons')
                                            span Checkboxes, Icons, and Flags

                                    li
                                        a.left-pane-item#tables_defaultcolumn(href='/index.html?page=tables_defaultcolumn')
                                            span Default Column

                                    li
                                        a.left-pane-item#tables_subid(href='/index.html?page=tables_subid')
                                            span Tables with Sub IDs

                                    li
                                        a.left-pane-item#tables_linked(href='/index.html?page=tables_linked')
                                            span Linked Tables

                                    li
                                        a.left-pane-item#tables_detailed(href='/index.html?page=tables_detailed')
                                            span Table Detailed

                                    li
                                        a.left-pane-item#tables_advanced(href='/index.html?page=tables_advanced')
                                            span Advanced Examples

                                    li
                                        a.left-pane-item#tables_automatic(href='/index.html?page=tables_automatic')
                                            span Tables Automatic

                                    li
                                        a.left-pane-item#tables_databound(href='/index.html?page=tables_databound')
                                            span Complete Example: Users list


                            li.collapsed(data-toggle='collapse', data-target='#formpopup')
                                a(href='#')
                                    span Forms & Popup Items
                                    span.arrow
                                ul#formpopup.sub-menu.collapse

                                    li
                                        a.left-pane-item#dialog_1(href='/index.html?page=dialog_1')
                                            span Dialog Boxes

                                    li
                                        a.left-pane-item#forms(href='/index.html?page=forms')
                                            span Forms - Basic

                                    li
                                        a.left-pane-item#forms2(href='/index.html?page=forms2')
                                            span Forms - Data Bound

                                    li
                                        a.left-pane-item#popup_menu_1(href='/index.html?page=popup_menu_1')
                                            span Popup menus

                                    li
                                        a.left-pane-item#popup_window_1(href='/index.html?page=popup_window_1')
                                            span Popup window

                            li.collapsed(data-toggle='collapse', data-target='#mapping')
                                a(href='#')
                                    span Mapping
                                    span.arrow
                                ul#mapping.sub-menu.collapse

                                    li
                                        a.left-pane-item#map_fowm(href='/index.html?page=mapbox1')
                                            span Mapbox Basic


                            li.collapsed(data-toggle='collapse', data-target='#headerelements')
                                a(href='#')
                                    span Tabs and Navbar
                                    span.arrow
                                ul#headerelements.sub-menu.collapse

                                    li
                                        a.left-pane-item#tabs_1(href='/index.html?page=tabs_1')
                                            span Tabs
                                    li
                                        a.left-pane-item#tabs_left(href='/index.html?page=tabs_left')
                                            span TabsLeft
                                    li
                                        a.left-pane-item#navbar(href='/index.html?page=navbar')
                                            span Navbar

                            li.collapsed(data-toggle='collapse', data-target='#diagram')
                                a(href='#')
                                    span Diagrams
                                    span.arrow
                                ul#diagram.sub-menu.collapse

                                    li
                                        a.left-pane-item#diagram(href='/index.html?page=diagram')
                                            span Basic Diagrams

                            li.collapsed(data-toggle='collapse', data-target='#charts')
                                a(href='#')
                                    span Charts and Output
                                    span.arrow
                                ul#charts.sub-menu.collapse

                                    li
                                        a.left-pane-item#test_chart1(href='/index.html?page=test_chart1')
                                            span Charts with CanvasJs

                                    li
                                        a.left-pane-item#epochchart(href='/index.html?page=epochchart')
                                            span Charts with EpochJS

                                    li
                                        a.left-pane-item#test_graphtime(href='/index.html?page=graphtime')
                                            span GraphTime

                                    li
                                        a.left-pane-item#test_miniconsole(href='/index.html?page=test_miniconsole')
                                            span Mini Console

                            li.collapsed(data-toggle='collapse', data-target='#graphics')
                                a(href='#')
                                    span Graphics
                                    span.arrow
                                ul#graphics.sub-menu.collapse

                                    li
                                        a.left-pane-item#test_imagestrip(href='/index.html?page=test_imagestrip')
                                            span Image Strip

                                    li
                                        a.left-pane-item#test_imagestrippopups(href='/index.html?page=test_imagestrippopups')
                                            span Image Strip Popups
                                    li
                                        a.left-pane-item#test_image_annotation(href='/index.html?page=test_image_annotation')
                                            span Image Annotation
                                    li
                                        a.left-pane-item#icons(href='/index.html?page=icons')
                                            span Icons


                            li.collapsed(data-toggle='collapse', data-target='#filemanagement')
                                a(href='#')
                                    span File Management
                                    span.arrow
                                ul#filemanagement.sub-menu.collapse

                                    li
                                        a.left-pane-item#filedroptarget(href='/index.html?page=filedroptarget')
                                            span File Drop Target

                                    li
                                        a.left-pane-item#filemanager(href='/index.html?page=filemanager')
                                            span File Manager View

                            li.collapsed(data-toggle='collapse', data-target='#calendar')
                                a(href='#')
                                    span Calendar
                                    span.arrow
                                ul#calendar.sub-menu.collapse

                                    li
                                        a.left-pane-item#fullcalendar(href='/index.html?page=fullcalendar')
                                            span Full Calendar

                                    li
                                        a.left-pane-item#calendar_wide(href='/index.html?page=calendar_wide')
                                            span Wide Calendar

                            li.collapsed(data-toggle='collapse', data-target='#stepper')
                                a(href='#')
                                    span Stepper
                                    span.arrow
                                ul#stepper.sub-menu.collapse

                                    li
                                        a.left-pane-item#stepper(href='/index.html?page=stepper')
                                            span Basic Stepper

                            li.collapsed(data-toggle='collapse', data-target='#others')
                                a(href='#')
                                    span Others
                                    span.arrow
                                ul#others.sub-menu.collapse

                                    li
                                        a.left-pane-item#code_editor(href='/index.html?page=code_editor')
                                            span Code Editor

                                    li
                                        a.left-pane-item#miller(href='/index.html?page=miller')
                                            span Miller Columns

                                    li
                                        a.left-pane-item#typeahead_test(href='/index.html?page=typeahead_test')
                                            span Typeahead

                                    li
                                        a.left-pane-item#classtools_1(href='/index.html?page=classtools_1')
                                            span Class Tools

                                    li
                                        a.left-pane-item#iframe(href='/index.html?page=iframe')
                                            span IFrame 

                                    li
                                        a.left-pane-item#tiles(href='/index.html?page=tiles')
                                            span Tiles

                                    li
                                        a.left-pane-item#timeline(href='/index.html?page=timeline')
                                            span Timeline

                                    li
                                        a.left-pane-item#chat(href='/index.html?page=chat')
                                            span Chat View

                                    li
                                        a.left-pane-item#combobox(href='/index.html?page=combobox')
                                            span Combo Box

                                    li
                                        a.left-pane-item#pdfjs(href='/index.html?page=pdfjs')
                                            span PDF Viewer
                #page-content-wrapper
                    .page-content
                        #mainTestArea