@import "../theme.styl"

.PopupMenu
	themePopupWindow()

	top:            0px
	left:           0px
	z-index:        55000
	max-width:		600px

	li
		themePopupWindowListItem()

		opacity:          100
		position:         relative
		display:          block

		i
			width: 20px

		span

			//display:        block
			margin-top:     -6px
			//padding-left:   42px
			padding-bottom: 8px
			padding-right:  10px

	li.popupMenuItem
		cursor: pointer

	li.popupMenuItem:hover
		themePopupWindowListItemHover()

	li.title
		themePopupWindowTitle()
		text-align: center

		span
			display:    block
			margin-top: -20px

ul.multicol
	-webkit-column-count: 2
	-moz-column-count:    2
	-ms-column-count:     2
	-o-column-count:      2
	column-count:         2

	-webkit-column-gap:   0
	-moz-column-gap:      0
	column-gap:           0

    -webkit-column-rule-color: #707070
    -moz-column-rule-color:    #707070
    column-rule-color:         #707070

	li.title
		-webkit-column-span: 2
		column-span: 2
		background-color: blue

