.content

    .panel.panel-default
        .panel-heading Module Category
        .panel-body#txtModuleCategory ModuleCategory

    .panel.panel-default
        .panel-heading Module Name
        .panel-body#txtModuleName ModuleName

    .panel.panel-default
        .panel-heading Module Parameters
        .panel-body
            table.dashtable
                tr
                    th Name
                    th Type
                    th Default
                    th Optional
                tbody#paramBody
                    td(colspan=2) None

    .panel.panel-default
        .panel-heading Database Resources
        .panel-body#txtDatabases

