.content
    .block.block-bordered
        .block-header.bg-gray-lighter
            h3.block-title Understanding Modules
        .block-content
            p Modules... Something

    .block.block-bordered
        .block-header.bg-gray-lighter
            h3.block-title Testing Modules
        .block-content
            p Modules... Something

    .block.block-bordered
        .block-header.bg-gray-lighter
            h3.block-title Using Attachments
        .block-content
            p Modules... Something

