.side-header.side-content.bg-white-op

    button.btn.btn-link.text-gray.pull-right.hidden-md.hidden-lg(type='button', data-toggle='layout', data-action='sidebar_close')
        i.fa.fa-times

    a.h5.text-white#mainAppLink(href='/Code')
        span.h4.font-w600.sidebar-mini-hide#mainAppTitle Edge Code Editor

    #navHolder