@import 'nib'
@import 'nib/gradients'
@import 'nib/reset'

@import url(../fonts/usesf.css)

global-reset()

*
    font-smoothing     : antialiased
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;

html
    width       : 100%
    height      : 100%

body
    font-family      : 'San Francisco Display', HelveticaNeue, sans-serif;
    font-size        : 10pt
    margin           : 0px
    padding          : 0px
    width            : 100%
    background-color : #eeeeee

    // overflow      : hidden; /* this is important to prevent the whole page to bounce */
    // height        : 100%

#busyMessage
    position         : fixed
    top              : 10px
    left             : 50%
    margin-left      : -200px
    width            : 400px
    min-width        : 400px
    z-index          : 30000
    padding-top      : 10px
    padding-bottom   : 10px
    padding-left     : 10px
    padding-right    : 10px
    background-color : rgba(231, 183, 71, 0.4)
    color            : #000000
    font-size        : 20px
    border-radius    : 6px
    opacity          : 0.8
    display          : none;

#header-navbar
    padding-top:    8px
    padding-bottom: 8px
    // box-shadow:     0 1px 3px 0 rgba(0, 0, 0, 0.33);
    display:        inline-table;
    width:          100%
    margin:         0 auto;
    padding:        13px 10px 1px;
    max-width:      100%;

#main-container
    background-color: #eeeeee
    width: 100%
    // margin-top: 50px

#MainTitle
    color:          #000000
    font-size:      18px
    padding:        0
    margin:         0
    padding-bottom: 4px
    clear:          both

#MainTitle.alone
    padding-top: 10px

#SubTitle
    display:     block
    padding-top: 4px
    clear:       both

.screen
    display: none

#logoHolder:
    padding-top: 0px
    padding-left: 10px
    padding-right: 10px

.sidebar-content .side-header
    padding-top: 4px

#connStatus
    clear: both
    display: block
    color: #6F747D

#btnAppSearchBarcode
    cursor: pointer

#btnAppSearch
    cursor: pointer

#simpleTooltip
    padding-top      : 10px
    padding-bottom   : 10px
    padding-left     : 20px
    padding-right    : 20px
    height           : 30px
    background-color : #F4DFB4
    color            : #9C3A1C

.canvasjs-chart-credit
    display: none

.side-header
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);

.dashboard
    padding: 10px

.headerFixedTop
    width: 100%
    height: 50px
    background-color: #ffffff
    position: fixed
    top: 0px
    display: none;

#page-container
    display: none

.navbar
    // box-shadow : 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 0px
    border: 0px
    margin-bottom: 0px
    min-height: 40px

.blocklyWidgetDiv
    z-index: 1999

.modal-backdrop
    z-index: 21000;

.modal
    z-index: 21050;

@media screen and (min-width: 1000px)

    .modal-dialog
        width: 900px;

#blocklyDiv
    width: 2000px
    height: 4000px
    position: absolute

.bg-white-op
    background-color: rgba(255, 255, 255, 0.075);

.text-white
    color: #ffffff

.selectize-control
    .item
        font-size: 12px
        line-height: 32px
        height: 32px
        width: 120px
        min-width: 120px
        padding-left: 10px
        padding-right: 10px

a.list-group-item
    cursor: pointer

a.list-group-item:hover
    color: blue

.block > .nav-tabs > li > a
    border: 1px solid rgba(60,60,60,1.0)
    // border: 1px solid rgba(60, 60, 60, 0.2)

.nav-tabs
    border: 0px


.modal-body

    h4
        font-size: 18px
        padding-bottom: 14px

.nav-main a:hover
    text-decoration: none

.nav-main span
    cursor: pointer

.infoPanel
    line-height      : 24px
    padding-top      : 8px
    padding-bottom   : 8px
    font-size        : 16px
    background-color : #f9f9ff

    i
        padding-left  : 10px
        padding-right : 10px



