doctype
html.no-focus
    head
        meta(charset='utf-8')

        title EdgeApiServer Code Editor

        link(rel='stylesheet', href='/fonts/usesf.css')
        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/vendor/prism.css')
        link(rel='stylesheet', href='/vendor/selectize.css')
        link(rel='stylesheet', href='/vendor/flatpickr.min.css')
        link(rel='stylesheet', href='/css/baseedgeweb.css')
        link(rel='stylesheet', href='/ninja/ninja.css')
        link(rel='stylesheet', href='/css/edgeweb.css')

        script.
            window.buildnum = "#{buildnum}";

        script(src='/socket.io/socket.io.js')
        script(src='/vendor/socket.io-stream.js')

        script(src='/vendor/jquery-3.0.0.min.js')
        script(src='/vendor/bootstrap.min.js')
        script(src='/vendor/moment.js')
        script(src='/vendor/numeral.js')
        script(src='/vendor/selectize.js')
        script(src='/vendor/ev-emitter.js')
        script(src='/vendor/setImmediate.js')
        script(src='/vendor/iscroll.js')
        script(src='/vendor/prism.js')
        script(src='/vendor/co.js')
        script(src='/vendor/db.min.js')
        script(src='/vendor/draggabilly.pkgd.min.js')
        script(src='/vendor/html.sortable.min.js')
        script(src='/vendor/xml2json.min.js')
        script(src='/vendor/ace/ace.js')
        script(src='/vendor/ace/ext-language_tools.js')
        script(src='/vendor/mathjs/math.js')
        script(src='/vendor/flatpickr.min.js')
        script(src='/vendor/canvasjs.min.js')
        script(src='/vendor/handlebars.min.js')

        script(src='/blockly/blockly_compressed.js')
        script(src='/blockly/blocks_compressed.js')
        script(src='/blockly/javascript_compressed.js')
        script(src='/blockly/msg/js/en.js')

        script(src='/ninja/ninja.js')
        script(src='/js/combined.js')

    body

    #busyMessage

    #page-container.sidebar-l.sidebar-o.side-scroll

        include sidebar.pug
        include header.pug

        .toolbarArea.headerFixedTop#main-toolbar
            p TOOLBAR

        main#main-container.main

    #rightSidePanel




