.ViewTestShowZipcode

    .infoTable
        padding: 20px
        width: 100%

        td
            font-family: Arial, Helvetica, sans-serif
            font-size:   14pt
            padding:     6px
