table.infoTable
    tr
        td Current W=
        td#txtWidth
        td Current H=
        td#txtHeight
    tr
        td Outer W=
        td#txtOuterWidth
        td Outer H=
        td#txtOuterHeight

br

table.infoTable
    tr
        td Current Zipcode:
        td#txtCurrentZipcode
