.test_case
    width: 100%
    border-bottom: 1px solid #606060
    padding: 6px 0px 6px 16px
    cursor: pointer

.test_label
    border: 1px solid #eeeee
    padding: 4px
    color: #404040
    font-size: 11pt

.test_result
    padding: 4px
    color  : #209010
    text-align: right

.testCases .row
    margin-right: 0
    margin-left: 0

.test_comment
    color: #404040
    margin-top: 5px
    padding: 4px
    padding-right: 20px

.test_result div
    margin-right: 20px