.pleaseWaitDialog {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #404040;
  z-index: 5000;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  height: 120px;
  overflow-x: auto;
  overflow-y: auto;
}
.pleaseWaitDialog .modal-body {
  word-break: break-word;
}
.modal-footer {
  background-color: #eee;
}
.tt-query,
.tt-hint,
.tt-input {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}
.tt-query {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.tt-hint {
  color: #999;
}
.tt-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #4097cf;
}
.tt-suggestion p {
  margin: 0;
}
.modal-header h4 {
  font-size: 18px;
}
.modal-header.bg-white {
  background-color: #fff;
}
.modal-header .modal-title {
  color: #000;
}
.modal-body form {
  padding-top: 10px;
  padding-left: 15px;
  passing-right: 15px;
}
.modal-body label {
  line-height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.modal-body .modal-view .ViewForm {
  height: auto !important;
  width: 100% !important;
}
.modal-body .modal-view .ViewForm .ninja-form-buttons-row .ninja-form-button {
  text-transform: uppercase;
}
.modal-body .modal-view .ViewForm .ninja-form-buttons-row .ninja-form-label {
  height: 0;
  display: none;
}
.modal-body .modal-view .ViewForm .ninja-form-buttons-row .help-block {
  display: none;
  height: 0;
}
#pleaseWaitDialogM {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #404040;
  z-index: 5000;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  box-shadow: 2px 2px 8px 2px #000;
}
.modal-footer {
  background-color: #eee;
}
.tt-query,
.tt-hint,
.tt-input {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}
.tt-query {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.tt-hint {
  color: #999;
}
.tt-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #4097cf;
}
.tt-suggestion p {
  margin: 0;
}
.progress {
  height: 25px;
  margin-bottom: 10px;
}
.progress div {
  padding: 2px;
  text-align: left;
}
.progress-bar {
  background-color: #007bff;
}
.bg-success {
  background-color: #28a745;
}
.bg-info {
  background-color: #17a2b8;
}
.bg-warning {
  background-color: #ffc107;
}
.bg-danger {
  background-color: #dc3545;
}
.PopupMenuCal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  z-index: 5000;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: arrow;
  box-sizing: content-box;
  background-color: #1e1e1e;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  webkit-tap-highlight-color: #000;
  tap-highlight-color: #000;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: none;
  list-style: disc outside none;
  text-decoration: none;
  font-size: 100%;
  outline: none;
  box-shadow: 6px 6px 18px 4px rgba(0,0,0,0.75);
  border: 1px solid rgba(40,40,40,0.75);
}
.PopupCalendar {
  width: 350px;
  height: 340px;
  opacity: 100;
  position: relative;
  padding: 0;
  margin: 0;
  height: auto;
  display: block;
  background-color: #1e1e1e;
  font-weight: 600;
  font-size: 16px;
  border: 0px;
  text-align: left;
  text-indent: 0;
  color: #eee;
}
.PopupCalendar th {
  width: 50px;
  border: 1px solid #bbb;
  background-color: #ddd;
  text-align: center;
  vertical-align: bottom;
  color: #202020;
  height: 24px;
  font-size: 0.8vw;
  padding-bottom: 2px;
  cursor: no-drop;
}
.PopupCalendar td {
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  color: #202020;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.PopupCalendar td.diffMonth {
  color: #aaa;
}
.PopupCalendar td.today {
  color: #e86432;
  font-weight: 700;
}
.PopupCalendar td.selected {
  background-color: #f3923e;
  color: #202020;
  cursor: no-drop;
  border: 1px solid #f3923e;
}
.PopupCalendar td.sun,
.PopupCalendar td.sat {
  background-color: #e5e5e5;
  color: #404040;
}
.PopupCalendar td.diffMonth.sun,
.PopupCalendar td.diffMonth.sat {
  color: #aaa;
}
.PopupCalendar td:hover {
  color: #fff;
  background-color: #404040;
}
.PopupCalendar td.message {
  height: 24px;
  color: #808080;
  font-weight: 300;
  border-top: 1px solid #bbb;
  font-size: 0.8vw;
}
viewHolder {
  overflow: auto;
}
.ninja-btn {
  border-radius: 0px;
  font-family: 'San Francisco Text', HelveticaNeue, sans-serif;
  font-weight: 500;
  font-size: 12pt;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.1);
  background-color: #2d96ef;
  color: #fff;
  border-color: #107dd9;
}
.ninja-btn i {
  padding-right: 6px;
}
.ninja-btn:hover {
  background-color: #0d61a9;
  color: #fff;
}
.ninja-btn:active {
  background-color: #5caef3;
  color: #333;
}
.bgcolor0 {
  background-color: #d4a6d2 !important;
}
.bgcolor1 {
  background-color: #dbebfe !important;
}
.bgcolor2 {
  background-color: #fed7de !important;
}
.bgcolor3 {
  background-color: #fcfed1;
}
.bgcolor4 {
  background-color: #e8f6dd;
}
.bgcolor5 {
  background-color: #fae4f1;
}
.bgcolor6 {
  background-color: #e0ece8;
}
.bgcolor7 {
  background-color: #dfdee4;
}
.bgcolor8 {
  background-color: #ccf9ef;
}
.bgcolor9 {
  background-color: #e0d08f;
}
.bgcolor10 {
  background-color: #c1e7ed;
}
.bgcolor11 {
  background-color: #d8e2ff;
}
.bgcolor12 {
  background-color: #f1d3e9;
}
.PopupMenu {
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  webkit-tap-highlight-color: #000;
  tap-highlight-color: #000;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: none;
  list-style: disc outside none;
  text-decoration: none;
  font-size: 100%;
  outline: none;
  background-color: #f3f3f3;
  color: #143c60;
  font-size: 1em;
  font-weight: 300;
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.35);
  border: 1px solid #252a33;
  position: absolute;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: content-box;
  top: 0px;
  left: 0px;
  z-index: 55000;
  max-width: 600px;
}
.PopupMenu li {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 0;
  text-align: left;
  text-indent: 0;
  font-size: 1.1em;
  font-weight: 400;
  opacity: 100;
  position: relative;
  display: block;
}
.PopupMenu li i {
  width: 20px;
}
.PopupMenu li span {
  margin-top: -6px;
  padding-bottom: 8px;
  padding-right: 10px;
}
.PopupMenu li.popupMenuItem {
  cursor: pointer;
}
.PopupMenu li.popupMenuItem:hover {
  background-color: #c0c0c0;
  color: #02070c;
}
.PopupMenu li.title {
  background-color: #2980b9;
  background: linear-gradient(top, #2980b9, #2c3e50);
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}
.PopupMenu li.title span {
  display: block;
  margin-top: -20px;
}
ul.multicol {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
-webkit-column-rule-color: #707070 li.title,
-moz-column-rule-color: #707070 li.title,
column-rule-color: #707070 li.title {
  -webkit-column-span: 2;
  column-span: 2;
  background-color: #00f;
}
.floatingWindow {
  background-color: #e6e6e6;
  overflow: hidden;
  display: none;
  border: 1px solid #00f;
  position: absolute;
  z-index: 1503400;
}
.floatingWinBody {
  width: 100%;
  height: 100%;
}
.floatingDropdown {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  height: 34px;
}
.floatingDropdownValue {
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 4px;
  padding-bottom: 6px;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}
.floatingDropdownIcon {
  float: right;
  left: 100%;
  padding-left: 4px;
  padding-right: 6px;
  margin-left: 0px;
  margin-top: -20px;
  color: #ccc;
}
.floatingDropdown:hover .floatingDropdownIcon {
  color: #0b0;
}
.floatingDropdown:hover {
  border: 1px solid #0b0;
}
viewHolder {
  overflow: auto;
}
.ninja-btn {
  border-radius: 0px;
  font-family: 'San Francisco Text', HelveticaNeue, sans-serif;
  font-weight: 500;
  font-size: 12pt;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.1);
  background-color: #2d96ef;
  color: #fff;
  border-color: #107dd9;
}
.ninja-btn i {
  padding-right: 6px;
}
.ninja-btn:hover {
  background-color: #0d61a9;
  color: #fff;
}
.ninja-btn:active {
  background-color: #5caef3;
  color: #333;
}
.bgcolor0 {
  background-color: #d4a6d2 !important;
}
.bgcolor1 {
  background-color: #dbebfe !important;
}
.bgcolor2 {
  background-color: #fed7de !important;
}
.bgcolor3 {
  background-color: #fcfed1;
}
.bgcolor4 {
  background-color: #e8f6dd;
}
.bgcolor5 {
  background-color: #fae4f1;
}
.bgcolor6 {
  background-color: #e0ece8;
}
.bgcolor7 {
  background-color: #dfdee4;
}
.bgcolor8 {
  background-color: #ccf9ef;
}
.bgcolor9 {
  background-color: #e0d08f;
}
.bgcolor10 {
  background-color: #c1e7ed;
}
.bgcolor11 {
  background-color: #d8e2ff;
}
.bgcolor12 {
  background-color: #f1d3e9;
}
.popupNavBar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  background-color: #cae9c9;
  border-top: 1px solid #bbb;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
.popupNavBar .navbar-btn {
  margin: 2px;
}
.popupNavBar .container-fluid {
  padding: 2px;
  background-color: #f1f1f1;
}
.PopupWindow .outer-container,
padding-top: 0px,
.PopupWindow table {
  width: 100%;
}
.PopupWindow {
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  webkit-tap-highlight-color: #000;
  tap-highlight-color: #000;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: none;
  list-style: disc outside none;
  text-decoration: none;
  font-size: 100%;
  outline: none;
  background-color: #f3f3f3;
  color: #143c60;
  font-size: 1em;
  font-weight: 300;
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.35);
  border: 1px solid #252a33;
  position: absolute;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: content-box;
  top: 0px;
  left: 0px;
  width: 300px;
  z-index: 5000;
  cursor: arrow;
  opacity: 1;
  min-width: 300px;
}
.PopupWindow .title {
  background-color: #2980b9;
  background: linear-gradient(top, #2980b9, #2c3e50);
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
  cursor: move;
}
.PopupWindow .title .title_text {
  padding-left: 8px;
}
.PopupWindow .title .closebutton {
  float: right;
  cursor: pointer;
  width: 40px;
  text-align: right;
  padding-right: 8px;
}
.PopupWindow.popup-win-inactive .title {
  background-color: #c1c1c1;
}
.PopupWindow .windowbody {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.scrollable {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  right: 0px;
  min-width: 300px;
}
.scrollable .resizeHandle {
  background: url("/images/resize-handle.png") 100% 100% no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 16px;
  width: 16px;
  cursor: se-resize;
  z-index: 9999999999;
}
.scrollcontent {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.ninjaTooltip {
  background-color: #f0ebdc;
  color: #003000;
  border: 1px solid #b0abbc;
  font-weight: 500;
  max-width: 400px;
  height: 60px;
  display: none;
}
.ninjaTooltip .ninjaTooltipBody {
  width: 100%;
  height: 100%;
}
.ninjaTooltip .text {
  padding: 10px;
  line-height: 20px;
}
.ninjaTooltip table {
  padding-top: 10px;
  width: 100%;
}
.ninjaTooltip table td {
  height: 20px;
  vertical-align: top;
  padding-right: 6px;
  padding-left: 6px;
}
.ninjaTooltip table td:nth-child(1) {
  text-align: right;
}
.ninjaTooltip .ninjaImageTooltip {
  width: 200px;
  height: 200px;
  line-height: 200px;
}
.ninjaTooltip .ninjaImageTooltip img {
  width: 200px;
  vertical-align: middle;
}
#simpleTooltip {
  position: absolute;
  z-index: 5000;
  padding: 20px;
  background-color: #2c343f;
  color: #eee;
  font-weight: 500;
  max-width: 300px;
  height: 60px;
  display: none;
}
#simpleTooltipIndicator {
  position: absolute;
  z-index: 5000;
  color: #ffcd0e;
  font-weight: 500;
  font-size: 36px;
  right: 4px;
  top: 10px;
  display: none;
}
.marker {
  position: absolute;
  background-color: #8f9f8e;
  left: 1px;
  top: 1px;
  bottom: 1px;
  cursor: move;
}
.marker .dragging {
  background-color: #ec9720;
}
viewHolder {
  overflow: auto;
}
.ninja-btn {
  border-radius: 0px;
  font-family: 'San Francisco Text', HelveticaNeue, sans-serif;
  font-weight: 500;
  font-size: 12pt;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.1);
  background-color: #2d96ef;
  color: #fff;
  border-color: #107dd9;
}
.ninja-btn i {
  padding-right: 6px;
}
.ninja-btn:hover {
  background-color: #0d61a9;
  color: #fff;
}
.ninja-btn:active {
  background-color: #5caef3;
  color: #333;
}
.bgcolor0 {
  background-color: #d4a6d2 !important;
}
.bgcolor1 {
  background-color: #dbebfe !important;
}
.bgcolor2 {
  background-color: #fed7de !important;
}
.bgcolor3 {
  background-color: #fcfed1;
}
.bgcolor4 {
  background-color: #e8f6dd;
}
.bgcolor5 {
  background-color: #fae4f1;
}
.bgcolor6 {
  background-color: #e0ece8;
}
.bgcolor7 {
  background-color: #dfdee4;
}
.bgcolor8 {
  background-color: #ccf9ef;
}
.bgcolor9 {
  background-color: #e0d08f;
}
.bgcolor10 {
  background-color: #c1e7ed;
}
.bgcolor11 {
  background-color: #d8e2ff;
}
.bgcolor12 {
  background-color: #f1d3e9;
}
