.row

    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4(style="padding-top: 60px")
        .block.block-themed.animated.fadeIn

            .block-header.bg-primary
                h3.block-title Login

            .block-content.block-content-full.block-content-narrow
                h1(style='font-size:22pt;')
                    b Edge
                    | Code Editor
                p Welcome, please login
                .form-horizontal.push-30-t.push-50
                    .form-group
                        .col-xs-12
                            label(for="txtUsername") Username
                            input.form-control#txtUsername

                    .form-group
                        .col-xs-12
                            label(for="txtPassword") Password
                            input.form-control#txtPassword(type="password")


                    .form-group
                        .col-xs-12
                            label.css-input.switch.switch-sm.switch-primary
                            input#loginRememberMe(type="checkbox")
                            span
                            | &nbsp; Remember me

                    .form-group
                        .col-xs-12.col-sm-6.col-md-4
                            button.btn.btn-block.btn-primary#btnLogin Login


.row

    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4

        .p.text-danger#loginInfoWindow

