#ScreenLogin

    color: #202020

    h1
        font-size: 36px
        font-weight: 600
        color: rgba(96, 94, 92, 1.0)

        b
            color: rgba(7, 28, 77, 1.0)
            font-weight: 600
            padding-right: 5px

    #loginInfoWindow
        display: none
        text-align: center
        font-size: 20pt

    label
        color: #303030
        font-size: 16px
        padding-bottom: 14px
