$colorPopupTitleBackground1 = #2980b9
$colorPopupTitleBackground2 = #2c3e50
$colorPopupBackground       = #F3F3F3
$colorPopupText             = #143C60
$colorPopupBorder           = #252A33
$popupBoxShadow             = 4px 4px 8px 2px rgba(0,0,0,0.35)

$colorItemActiveHighlight   = #007cc0
$colorItemActiveText        = #002c80
$colorItemText              = #143C60
$colorItemInactiveHighlight = #909090

$colorButtonPrimary         = #2D96EF
$colorButtonText            = #ffffff

viewHolder
    overflow: auto

themeNoTap()
    -webkit-touch-callout      : none
    -moz-touch-callout         : none
    -ms-touch-callout          : none
    -o-touch-callout           : none
    touch-callout              : none

    webkit-tap-highlight-color : rgb(0,0,0)
    tap-highlight-color        : rgb(0,0,0)

    -webkit-text-size-adjust   : none
    -moz-text-size-adjust      : none
    -o-text-size-adjust        : none
    text-size-adjust           : none

    -webkit-user-select        : none
    -moz-user-select           : none
    -o-user-select             : none
    user-select                : none

    float                      : none
    list-style                 : disc outside none
    text-decoration            : none
    font-size                  : 100%
    outline                    : none

themePopupWindow()

    themeNoTap()
    background-color : $colorPopupBackground
    color            : $colorPopupText
    font-size        : 1.0em
    font-weight      : 300
    box-shadow       : $popupBoxShadow
    border           : 1px solid $colorPopupBorder
    position         : absolute
    margin           : 0
    padding          : 0
    vertical-align   : baseline
    box-sizing       : content-box

themePopupWindowTitle()

    background-color : $colorPopupTitleBackground1
    background       : linear-gradient(top, $colorPopupTitleBackground1, $colorPopupTitleBackground2)
    color            : #ffffff
    font-size        : 1.2em
    font-weight      : 500
    padding-top      : 6px
    padding-bottom   : 6px

themePopupWindowListItem()
    width          : 100%
    padding-top    : 6px
    padding-bottom : 6px
    padding-left   : 6px
    padding-right  : 6px
    margin         : 0
    text-align     : left
    text-indent    : 0
    font-size      : 1.1em
    font-weight    : 400

themePopupWindowListItemHover()
    background-color : darken($colorPopupBackground, 20)
    color            : darken($colorPopupText, 20)

$series-a = #007bc3;
$series-b = #76b800;
$series-c = #ffae00;
$series-d = #ef4c00;
$series-f = #430b62;
$series-e = #a419b7;

.ninja-btn
    border-radius: 0px
    font-family: 'San Francisco Text', HelveticaNeue, sans-serif;
    font-weight: 500
    font-size: 12pt
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.1)
    background-color: $colorButtonPrimary
    color: $colorButtonText
    border-color: darken($colorButtonPrimary, 10)

    i
        padding-right: 6px

.ninja-btn:hover
    background-color : darken($colorButtonPrimary, 20)
    color: $colorButtonText

.ninja-btn:active
    background-color : lighten($colorButtonPrimary, 10)
    color: darken($colorButtonText, 80)

// .form-control
//     border-radius: 0px
//     user-select none

// Tab Colors:
$tabcolor0 = #D4A6D2;
$tabcolor1 = #DBEBFE;
$tabcolor2 = #FED7DE;
$tabcolor3 = #FCFED1;
$tabcolor4 = #E8F6DD;
$tabcolor5 = #FAE4F1;
$tabcolor6 = #E0ECE8;
$tabcolor7 = #DFDEE4;
$tabcolor8 = #CCF9EF;
$tabcolor9 = #E0D08F;
$tabColor10 = #C1E7ED;
$tabColor11 = #d8e2ff;
$tabColor12 = #f1d3e9;

.bgcolor0
    background-color: $tabcolor0 !important

.bgcolor1
    background-color: $tabcolor1 !important

.bgcolor2
    background-color: $tabcolor2 !important

.bgcolor3
    background-color: $tabcolor3

.bgcolor4
    background-color: $tabcolor4

.bgcolor5
    background-color: $tabcolor5

.bgcolor6
    background-color: $tabcolor6

.bgcolor7
    background-color: $tabcolor7

.bgcolor8
    background-color: $tabcolor8

.bgcolor9
    background-color: $tabcolor9

.bgcolor10
    background-color: $tabColor10

.bgcolor11
    background-color: $tabColor11

.bgcolor12
    background-color: $tabColor12

