.ninjaTooltip
	background-color : #F0EBDC
	color            : #003000
	border           : 1px solid #B0ABBC
	font-weight      : 500
	max-width        : 400px
	height           : 60px
	display          : none
	
	.ninjaTooltipBody
		width:  100%
		height: 100%

	.text
		padding: 10px
		line-height: 20px

	table
		padding-top: 10px
		width: 100%

		td
			height: 20px
			vertical-align: top
			padding-right: 6px
			padding-left: 6px


		td:nth-child(1)
			text-align: right
	
	.ninjaImageTooltip
		width: 200px
		height: 200px
		line-height: 200px
		
		img 
			width: 200px 
			vertical-align: middle

#simpleTooltip
	position:         absolute
	z-index:          5000
	padding:          20px
	background-color: rgba(44, 52, 63, 1.0)
	color:            #eeeeee
	font-weight:      500
	max-width: 		  300px
	height: 		  60px
	display:		  none

#simpleTooltipIndicator
	position:    absolute
	z-index:     5000
	color:       rgba(255, 205, 14, 1.0)
	font-weight: 500
	font-size:   36px
	right:       4px
	top:         10px
	display:     none;
