doctype
html.no-focus
    head
        meta(charset='utf-8')

        link(rel="apple-touch-icon", sizes="57x57", href="/images/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/images/apple-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/images/apple-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/images/apple-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/images/apple-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/images/apple-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-icon-180x180.png")
        link(rel="icon", type="image/png", sizes="192x192", href="/images/android-icon-192x192.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon-96x96.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon-16x16.png")
        link(rel="manifest" href="/images/manifest.json")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="msapplication-TileImage", content="/images/ms-icon-144x144.png")
        meta(name="theme-color", content="#ffffff")

        title Portal v3.#{buildnum}
        link(rel='stylesheet', href='/fonts/usesf.css')
        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/vendor/prism.css')
        link(rel='stylesheet', href='/vendor/selectize.css')
        link(rel='stylesheet', href='/css/baseedgeweb.css')
        link(rel='stylesheet', href='/ninja/ninja.css')
        link(rel='stylesheet', href='/css/edgeweb.css')
        link(rel='stylesheet', href='/vendor/fontawesome-pro-5.0.0/web-fonts-with-css/css/fontawesome-all.css')

        script.
            window.buildnum = "#{buildnum}";

        script(src='/socket.io/socket.io.js')
        script(src='/vendor/jquery-3.0.0.min.js')
        script(src='/vendor/bootstrap.min.js')

        script(src='/vendor/moment.js')
        script(src='/vendor/numeral.js')
        script(src='/vendor/selectize.js')
        script(src='/vendor/ev-emitter.js')
        script(src='/vendor/handlebars.min.js')
        script(src='/vendor/socket.io-stream.js')
        script(src='/vendor/setImmediate.js')
        script(src='/vendor/iscroll.js')
        script(src='/vendor/prism.js')
        script(src='/vendor/co.js')
        script(src='/vendor/db.min.js')
        script(src='/vendor/draggabilly.pkgd.min.js')
        script(src='/vendor/html.sortable.min.js')
        script(src='/vendor/xml2json.min.js')
        script(src='/vendor/ace/ace.js')
        script(src='/vendor/ace/ext-language_tools.js')
        script(src='/vendor/mathjs/math.js')

        script(src='/blockly/blockly_compressed.js')
        script(src='/blockly/blocks_compressed.js')
        script(src='/blockly/javascript_compressed.js')

        script(src='/blockly/msg/js/en.js')

        script(src='/ninja/ninja.js')
        script(src='/js/combined.js')

    body

    #busyMessage

    #page-container.sidebar-l.sidebar-o.side-scroll

        include include/sidebar.pug
        include include/header.pug
        include include/rightside.pug

        .toolbarArea.headerFixedTop#main-toolbar
            p TOOLBAR

        main#main-container.main

    #rightSidePanel




