#ScreenLogin

    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    background: url('../../images/partner/obvio/backgroundimage.jpg') no-repeat center center fixed
    background-size: cover
    font-family: 'OpenSans Text'

    .login-container
        background: rgba(251, 251, 251, 0.95)
        border-radius: 10px
        border: none

        @media screen and (min-width: 1025px)
            padding: 60px 55px

        @media screen and (min-width: 768px) and (max-width: 1024px)
            padding: 45px 40px

        @media screen and (min-width: 320px) and (max-width: 767px)
            padding: 30px 25px

        .logo-container

            img
                @media screen and (min-width: 1025px)
                    min-width: auto

                @media screen and (min-width: 768px) and (max-width: 1024px)
                    max-width: 500px

                @media screen and (min-width: 320px) and (max-width: 767px)
                    max-width: 300px

        .title-container
            text-align: left
            border-bottom: 1px solid rgb(227, 227, 227)

            @media screen and (min-width: 1025px)
                padding: 50px 0

            @media screen and (min-width: 768px) and (max-width: 1024px)
                padding: 36px 0

            @media screen and (min-width: 320px) and (max-width: 767px)
                padding: 25px 0

            .title-first-section
                color: #a4a4a4

                @media screen and (min-width: 1025px)
                    font-size: 50px

                @media screen and (min-width: 768px) and (max-width: 1024px)
                    font-size: 36px

                @media screen and (min-width: 320px) and (max-width: 767px)
                    font-size: 24px
                    text-align: center

            .title-second-section
                color: #0b0e1d

                @media screen and (min-width: 1025px)
                    font-size: 57px

                @media screen and (min-width: 768px) and (max-width: 1024px)
                    font-size: 42px

                @media screen and (min-width: 320px) and (max-width: 767px)
                    font-size: 28px
                    text-align: center

        .login-info
            position: absolute
            color: #fd0000

            @media screen and (min-width: 1025px)
                max-width: 700px
                padding: 20px 40px
                font-size: 16px
                line-height: 20px

            @media screen and (min-width: 768px) and (max-width: 1024px)
                max-width: 500px
                padding: 15px 30px
                font-size: 12px
                line-height: 14px

            @media screen and (min-width: 320px) and (max-width: 767px)
                max-width: 300px
                padding: 10px 20px
                font-size: 8px
                line-height: 10px
                text-align: center

            .phone-number
                white-space: nowrap

        .form-container

            @media screen and (min-width: 1025px)
                padding: 40px 0

            @media screen and (min-width: 768px) and (max-width: 1024px)
                padding: 30px 0

            @media screen and (min-width: 320px) and (max-width: 767px)
                padding: 20px 0

            .form-header

                @media screen and (min-width: 1025px)
                    padding-bottom: 100px

                @media screen and (min-width: 768px) and (max-width: 1024px)
                    padding-bottom: 70px

                @media screen and (min-width: 320px) and (max-width: 767px)
                    padding-bottom: 50px

                .form-header-text
                    color: #636363

                    @media screen and (min-width: 1025px)
                        font-size: 25px

                    @media screen and (min-width: 768px) and (max-width: 1024px)
                        font-size: 18px

                    @media screen and (min-width: 320px) and (max-width: 767px)
                        font-size: 14px
                        text-align: center

            .form-inputs-container
                background-color: #ffffff
                border-radius: 10px

                @media screen and (min-width: 1025px)
                    min-width: 700px

                @media screen and (min-width: 768px) and (max-width: 1024px)
                    max-width: 500px
                    min-width: 300px

                @media screen and (min-width: 320px) and (max-width: 767px)
                    max-width: 300px
                    min-width: 0px

                .form-group
                    margin-bottom: 0
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-items: center

                    @media screen and (min-width: 1025px)
                        padding: 20px 25px

                    @media screen and (min-width: 768px) and (max-width: 1024px)
                        padding: 15px 18px

                    @media screen and (min-width: 320px) and (max-width: 767px)
                        padding: 10px 12px

                    &.form-group-first
                        border-bottom: 1px solid #ececec

                    .form-group-input
                        flex: 1

                        .form-input-label
                            color: #31363f

                            @media screen and (min-width: 1025px)
                                font-size: 16px

                            @media screen and (min-width: 768px) and (max-width: 1024px)
                                font-size: 12px

                            @media screen and (min-width: 320px) and (max-width: 767px)
                                font-size: 10px

                            &.error
                                color: #fd0000

                        .form-input
                            input
                                width: 100%
                                padding: 0
                                border: none
                                color: #4c75e7

                                @media screen and (min-width: 1025px)
                                    font-size: 20px

                                @media screen and (min-width: 768px) and (max-width: 1024px)
                                    font-size: 14px

                                @media screen and (min-width: 320px) and (max-width: 767px)
                                    font-size: 12px

                                &::placeholder
                                    color: #4c75e7

                                    @media screen and (min-width: 1025px)
                                        font-size: 14px

                                    @media screen and (min-width: 768px) and (max-width: 1024px)
                                        font-size: 10px

                                    @media screen and (min-width: 320px) and (max-width: 767px)
                                        font-size: 8px

                                &:focus
                                    outline: none

                    .form-group-icon
                        color: #a8adb3

                        @media screen and (min-width: 1025px)
                            font-size: 20px

                        @media screen and (min-width: 768px) and (max-width: 1024px)
                            font-size: 14px

                        @media screen and (min-width: 320px) and (max-width: 767px)
                            font-size: 10px

        .form-footer
            .form-footer-main-section
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center

                @media screen and (min-width: 1025px)
                    padding-top: 54px

                @media screen and (min-width: 768px) and (max-width: 1024px)
                    padding-top: 42px

                @media screen and (min-width: 320px) and (max-width: 767px)
                    padding-top: 30px
                    flex-direction: column

                .form-footer-checkbox-container
                    display: flex
                    flex-direction: row
                    justify-content: flex-start
                    align-items: center

                    @media screen and (min-width: 1025px)
                        padding-left: 24px

                    @media screen and (min-width: 768px) and (max-width: 1024px)
                        padding-left: 18px

                    @media screen and (min-width: 320px) and (max-width: 767px)
                        padding-left: 0px
                        padding-bottom: 20px

                    .form-footer-checkbox-label
                        color: #31363f

                        @media screen and (min-width: 1025px)
                            font-size: 16px
                            padding-left: 12px

                        @media screen and (min-width: 768px) and (max-width: 1024px)
                            font-size: 12px
                            padding-left: 8px

                        @media screen and (min-width: 320px) and (max-width: 767px)
                            font-size: 12px
                            padding-left: 6px

                    .form-footer-checkbox
                        color: #3d98e9

                        @media screen and (min-width: 1025px)
                            font-size: 24px

                        @media screen and (min-width: 768px) and (max-width: 1024px)
                            font-size: 18px

                        @media screen and (min-width: 320px) and (max-width: 767px)
                            font-size: 16px

                .form-footer-button-container

                    .form-footer-button
                        border-radius: 6px
                        background-color: #3d98e9
                        color: #ffffff

                        @media screen and (min-width: 1025px)
                            padding: 16px 50px
                            font-size: 16px

                        @media screen and (min-width: 768px) and (max-width: 1024px)
                            padding: 12px 36px
                            font-size: 12px

                        @media screen and (min-width: 320px) and (max-width: 767px)
                            padding: 12px 48px
                            font-size: 12px

            .form-footer-version-text
                color: #949494
                text-align: right

                @media screen and (min-width: 1025px)
                    font-size: 20px
                    padding: 20px 0

                @media screen and (min-width: 768px) and (max-width: 1024px)
                    font-size: 16px
                    padding: 16px 0

                @media screen and (min-width: 320px) and (max-width: 767px)
                    font-size: 14px
                    padding: 5px 0
                    text-align: center
