.login-container

    .logo-container
        img(src='../../images/partner/obvio/logo.png' alt='logo-image')

    .title-container
        .title-first-section
            |Welcome to the
        .title-second-section
            |Communication Portal

    .form-container
        .form-header
            .form-header-text
                |Please login by filling in your details below

            .login-info#loginInfoWindow.login-info
                |The username or password you entered is incorrect. Please try again.
                br
                |If you continue to have trouble please contact the IT Help Desk at 
                span.phone-number
                    |1-888-555-5555 
                |in the US or 
                span.phone-number
                    |1-910-555-5555 
                |if you are outside the US

        .form-inputs-container
            .form-group.form-group-first
                .form-group-input
                    #usernameLabel.form-input-label
                        |Username
                    .form-input
                        input#txtUsername(placeholder='enter your username')
                .form-group-icon
                    i.fal.fa-user

            .form-group
                .form-group-input
                    #passwordLabel.form-input-label
                        |Password
                    .form-input
                        input#txtPassword(type='password' placeholder='enter your password')
                .form-group-icon
                    i.fal.fa-lock-alt

        .form-footer
            .form-footer-main-section
                .form-footer-checkbox-container
                    div#checkedBox.form-footer-checkbox
                        i.fa.fa-check-circle

                    .form-footer-checkbox-label
                        |Remember me
                .form-footer-button-container
                    div#btnLogin.form-footer-button
                        |SIGN IN
            .form-footer-version-text
                |V2.3.4
